[2015-03-04 19:27] icecrime opened #5 "Add JSON API"
- Add binary exposing libnetwork's functionalities over an HTTP API
- Provide client implementation of the interfaces calling out to a remote API

[2015-03-04 19:28] icecrime opened #6 "Continuous integration"
Automate tests on new PR (with the additional constraint that tests need root)

[2015-03-04 19:28] icecrime opened #7 "Golint"
- Fix any Golint warning on the library
- Add Golint to the continuous integration tasks

[2015-03-04 19:31] icecrime opened #8 "Serialize interface definitions to moving process"
When we `reexec` in order to move the interfaces to the network namespace, we don't provide the serialized interfaces to the child process.

Create a pipe and pass one end to the child process as fd 3 (this will require small refactoring of `reexec.go` in order to support passing `ExtraFiles`).

[2015-03-04 19:33] icecrime opened #9 "Write a proper README.md"

[2015-03-04 22:50] #7 closed, assigned to nobody

[2015-03-05 02:10] #6 closed, assigned to nobody

[2015-03-05 09:02] icecrime opened #17 "Implement bridgeNetwork.Link"
Take inspiration from libcontainer code for veth, but implement using `vishvananda/netlink` library.

[2015-03-05 09:03] icecrime opened #18 "Break dependency on ipallocator"
Depending on ipallocator bring `docker/docker/daemon/networkdriver` as a whole, and `docker/libcontainer/netlink` with it.

[2015-03-05 22:49] icecrime opened #20 "Add coveralls integration and badge"

[2015-03-05 22:50] icecrime opened #21 "Write a proper CONTRIBUTING.md"

[2015-03-05 22:50] icecrime opened #22 "Identify owners and add a MAINTAINERS file"

[2015-03-10 04:22] icecrime opened #27 "Helper Dockerfile / Makefile for tests"
The CI runs a battery of tests, but there is no easy way to test beforehand if a given PR will be green from CI perspective.

We should add a Dockerfile and/or a Makefile providing a single command to run all tests.

[2015-03-13 14:54] #8 closed, assigned to mrjana

[2015-04-08 17:06] aboch opened #33 "Move portmapper and portallocator to libnetwork"
They provide NAT like functionality which is network specific, therefore it makes sense to have them in libnetwork.

[2015-04-08 19:05] #21 closed, assigned to nobody

[2015-04-08 19:05] #22 closed, assigned to nobody

[2015-04-08 22:54] #27 closed, assigned to nobody

[2015-04-09 00:47] #18 closed, assigned to nobody

[2015-04-10 00:16] #33 closed, assigned to aboch

[2015-04-10 18:09] #17 closed, assigned to nobody

[2015-04-10 18:10] #9 closed, assigned to nobody

[2015-04-13 22:10] crosbymichael opened #41 "Replace libcontainer network code with libnetwork"
Currently libcontainer creates and sets up the interfaces inside the container in the execution work flow.

It would be nice to replace the code located https://github.com/docker/libcontainer/blob/master/network_linux.go with libnetwork.

[2015-04-13 22:29] mavenugo opened #42 "Labels support for CNM Networks and Endpoints"
Docker 1.6 supports Labels for Container and Image objects.
There has been a lot of discussions and requests to support a similar labels concept for Networks and Endpoints. This enhancement is raised to address this requirement.

[2015-04-13 22:35] mrjana opened #43 "Add support for driver specific global options"
There are options that network drivers will require which are driver specific globals. Currently the only way to pass options to driver is on a per network basis.

[2015-04-13 22:35] aboch opened #44 "Increase libnetwork test coverage"
Bring it to at least 80%
(This does not include driver/bridge coverage which is greater than 80% already)

[2015-04-13 22:40] mrjana opened #45 "Add dnet cli tool"
This is a development and debugging tool

[2015-04-14 00:04] mavenugo opened #46 "Bring Simplebridge driver to be feature equivalent of Docker Bridge"
Libnetwork provides all the necessary abstraction to provide networking for containers.
This includes current Single-Host Docker Bridge mode.

By bringing Simplebridge driver to be feature equivalent of Docker Bridge, Docker project can
start using the libnetwork as a library for various networking use-cases (via plugins).

[2015-04-14 10:08] squaremo opened #49 "Provide a way for plugins to register a driver"
The plugins subsystem will need a way to register a plugin (RPC stub) as a network driver.

[2015-04-14 15:47] #20 closed

[2015-04-14 16:17] icecrime commented on #20
:tada:

[2015-04-15 18:25] mavenugo opened #53 "Return Errors need defined type so that they can be handled by the caller"
There are many places across libnetwork where return errors are just some strings with no type associated with it. It makes it practically impossible to compare the error and take any remedy by the caller.

This issue is opened to address the problem across libnetwork project.

[2015-04-15 19:01] #43 closed

[2015-04-16 15:29] mavenugo opened #56 "Add Design.md"

[2015-04-17 04:40] #53 closed

[2015-04-17 14:25] tomwilkie opened #59 "Consider defering endpoint plug to container start"
Its my understanding that in libnetwork, creating an endpoint calls the underlying driver, where IPs are likely to be allocated, advertised, routed etc.  In our PoC implementation, we found it useful to defer this action to container start; ie non-running containers would not have "plugged" interfaces.  This allows network drivers to not advertise these containers, allows them to potentially reuse

[2015-04-17 14:25] tomwilkie opened #60 "Who owns the networks?"
Its my understanding that libnetwork keeps references to network objects it creates; however, I can't see an interface for retrieving or iterating over these objects.  Is it expected that the caller (ie the docker daemon) keeps a duplicate list of networks, and uses this for looking up network objects for deleting them and listing them?  Or would you be receptive to add Get() and Walk() methods to

[2015-04-17 15:45] mrjana commented on #59
@tomwilkie Thanks for bringing it up. With the CNM design we wanted to decouple network management from container lifecycle management. IOW, we wanted the network resources like endpoints to have independent lifetime compared to containers themselves so even when a container restarts when it comes back and uses the same endpoint it is guaranteed to get the same set of resources. From what we have

[2015-04-17 15:47] mrjana commented on #60
@tomwilkie Yes the libnetwork api is by no means complete. I was just in the middle of coding these methods right now  so you should see them very soon :-)

[2015-04-17 18:26] tomwilkie commented on #60
SGTM; I'll assign this to you, and look forward to seeing the progress.

[2015-04-17 20:15] tomwilkie commented on #59
@mrjana Thanks for getting back to me!  I can understand that you want networks & endpoint instances to have a separate lifecycle to containers; I agree with this.

Conflating the lifecycle of network & endpoint instances with the resources associated with these instances is risky; you are mandating a particular behaviour for network providers beneath your nice, abstract interface.   You are riski

[2015-04-19 21:40] mapuri commented on #59
Is it more a question of when CreateEndpoint() hook is called? I am thinking if it is called before the container starts (when the container's network namespace is created) it shall be good enough. Likewise DeleteEndpoint() can be called just before the container's network namespace is deleted.

Or do we really need two separate hooks one for container create and one for start and likewise for sto

[2015-04-20 06:05] mrjana opened #68 "simple bridge driver does not cleanup veth interfaces properly on endpoint delete"
The libnetwork test code has revealed that the simple bridge driver is not cleaning up the veth interfaces in endpoint delete operation leaving some stale interfaces on the bridge.

Also, currently bridge driver only expect one endpoint. It should instead store one endpoint per sandbox.

This PR is for fixing the above two issues.

[2015-04-20 15:13] tomwilkie opened #71 "Relationship between Endpoints, SandboxInfos and Interfaces..."
As the interface & datamodel currently stands, Endpoints can be created via the libcontainer public interface Network, and contain a reference to a SandboxInfo.  These SandboxInfo's hold references to a list of Interfaces.  When creating a new Endpoint, the current bridge driver always creates a fresh SandboxInfo, and always populates this a single Interfaces.

The datamodel implies an endpoint ca

[2015-04-20 16:18] mrjana commented on #71
@tomwilkie `SandboxInfo` is not an object that libnetwork data model actively manages. It's just a container of network resources allocated for a particular endpoint and we just return these info to the caller when they create an `Endpoint`. But we keep a copy of the `SandboxInfo` for the `Endpoint` within libnetwork so that libnetwork knows at all times what network resources are bound to which `

[2015-04-20 16:24] guru-shetty opened #72 "Where does a plugin sit in the CNM?"
My understanding after reading the README.md and ROADMAP.md is that libnetwork package will be included statically in the docker daemon. Any future plugin will be between libnetwork and the drivers. i.e., if the plugin takes the form of a REST API, then this will make network.go (https://github.com/docker/libnetwork/blob/master/network.go) call REST APIs to the bridge driver to Create network, cre

[2015-04-20 16:30] mrjana commented on #72
@guru-shetty Most likely libnetwork will be running in docker daemon. Your understanding of where plugins will sit is correct. But all of these should be transparent to plugin provider as long as they conform to the Network plugin protocol (yet to be fully defined)

[2015-04-20 17:04] mbanikazemi opened #75 "Typos"
Remove capitalization of identifiers (function names) in comments in interface.go

[2015-04-20 17:05] mbanikazemi commented on #75
#dibs

[2015-04-20 17:52] dave-tucker commented on #72
Marking this as closed as I think @mrjana has answered the question

[2015-04-20 17:52] #72 closed

[2015-04-21 04:25] #75 closed

[2015-04-21 10:40] squaremo commented on #72
The way we (weave) have been constructing a PoC plugin is as follows:

 - when loaded, the plugin registers itself with libnetwork as a network driver
 - the driver implementation it registers uses the "plugin transport" (currently RPC-over-HTTP-over-unix-socket) to talk to the plugin.

[2015-04-21 11:05] squaremo commented on #71
So @mrjana let me try to paraphrase what you've said.

 * SandboxInfo is a "value object" that exists just to be the return value of CreateEndpoint and record the OS-level network configuration of an endpoint. It's not intended to be mutated after it's returned.
 * A driver implementation may create more than one interface, so SandboxInfo has a field typed []Interface among others.

Questions:

 *

[2015-04-21 12:21] squaremo commented on #41
@crosbymichael Would you give a little more detail for how you see this being arranged? For instance, which responsibilities belong to which libraries.

My (superficial) reading of how libcontainer is used now is that it's given the network configuration, essentially a bridge name and an IP address; then sets up a veth pair, moves one interface into the container namespace and assigns it the IP ad

[2015-04-21 12:43] tomwilkie commented on #41
@crosbymichael For a concrete example, I think this is the minimal change that would be needed in libcontainer to support libnetwork:  https://github.com/docker/libcontainer/compare/master...tomwilkie:existing_strategy

Is this something you'd like me to submit as a PR?

[2015-04-21 12:47] squaremo commented on #71
NB I think the way libnetwork stands now will require a change in libcontainer similar to that @tomwilkie gives in #41 comment 94779158

[2015-04-21 14:00] mrjana commented on #41
@squaremo @tomwilkie When libnetwork is completely integrated with libcontainer, libnetwork will take the entire responsibility of managing the network namespace along with all the network resources contained in it.libcontainer will then make use of the network namespace created and managed by libnetwork to form the container execution environment along with other namespace setups and launching th

[2015-04-21 14:05] mrjana commented on #71
@squaremo SandboxInfo returned is in fact used by the libnetwork to create a sandbox. Please take a look at `libnetwork/sandbox` package and my answer to your queries in issue #41

[2015-04-21 14:26] shettyg commented on #72
@squaremo Thanks for the information. Do you have a semi-working PoC code yet, that I could look at?

[2015-04-21 14:45] tomwilkie commented on #72
@shettyg Michael + I are working on it here:

https://github.com/tomwilkie/docker/tree/network_extensions_dev

Its very rough and ready!  But it pretty much works (just ironing out the last problems now).  You'll need my forks of libcontainer and libnetwork too; put them in docker's vendor dir.

[2015-04-23 13:32] squaremo commented on #41
Does an interface in a process's namespace get destroyed when the process exits? That would be a problem if (as it stands now) the driver is asked only on endpoint creation to supply an interface, libcontainer moves it into the namespace, then the container it belongs to is restarted. I admit my understanding here is patchy so perhaps I'm missing a trick.

[2015-04-23 15:35] mrjana commented on #41
@squaremo The process namespace a.k.a the sandbox does not get destroyed when the process exits. In fact the namespace will get created by `libnetwork/sandbox` and all the network resources in `sandbox.Info` are moved into it much before the container process is even started. Then when the container process starts libcontainer will make sure that the target process sets into this namespace.

If th

[2015-04-23 15:41] squaremo commented on #41
Got it, thanks @mrjana.

[2015-04-23 17:43] dave-tucker opened #78 "Bridge Driver should handle `-ip` and `-mtu` options"
`--ip=IP_ADDRESS`
`--mtu=BYTES`

[2015-04-23 17:45] dave-tucker opened #79 "Handle Docker Run Options in Libnetwork"
[code]

[2015-04-23 17:46] dave-tucker opened #80 "Port Mapping"
Support for both variants of `-P` and `-p`

[2015-04-23 17:46] dave-tucker opened #81 "Rename simplebridge to bridge"

[2015-04-23 18:11] dave-tucker commented on #68
Fixed in  #69

[2015-04-23 18:11] #68 closed

[2015-04-23 18:22] #81 closed

[2015-04-23 18:31] dave-tucker opened #83 "Add Documentation for the Bridge Driver"
This should explain how the bridge driver is used, what configuration options there are etc...
Think of it as a lite version of what would appear on docs.docker.com

[2015-04-24 01:58] mrjana opened #88 "Add support for --default-gateway and --default-gateway-ipv6 options in bridge driver"

[2015-04-25 00:05] tomdee commented on #45
Could you provide some more detail on what this is? Would this be a way of running libnetwork code from the CLI without using docker/docker?

[2015-04-25 01:36] mavenugo commented on #45
@tomdee yes.

[2015-04-28 06:11] mrjana opened #96 "Add support for firewalld integration"
Add support for host configurations where firewalld is the master iptables manager

[2015-04-28 06:36] dave-tucker commented on #96
What about ufw?

[2015-04-28 17:43] dave-tucker opened #97 "Support for Docker Links"
This will be needed in order for us to remain compatible with links in Docker 1.7.
The following is a starter for 10:

- Hosts in a network should be auto-linked
    - In case of traditional Docker links this means:
        - /etc/hosts populated with an entry for every container added to a network
        - environment variables injected for every container added to a network
        - This model

[2015-04-28 19:50] dave-tucker commented on #96
... explaining myself further...
where there are rule managers in place like firewalld and ufw, perhaps it would make sense for us to describe rules in abstract form and to have a driver framework for "firewalls".

[2015-04-28 20:29] mrjana commented on #96
@dave-tucker Yes, we need a generic framework to interact with all kinds of rule managers out there. But this issue was created to track a much immediate need because some sort of firewalld support was added to iptables in docker/docker which we need to integrate with before the docker/docker PR :-)

[2015-04-29 03:00] #88 closed

[2015-04-30 23:15] tomdee opened #103 "Sandboxes with multiple endpoints have undefined gateway and DNS behavior"
As mentioned in issue #71 the behavior of multiple endpoints in a sandbox is undefined. This issue tracks discussion on how to make it more defined. One proposal from @mrjana is below.

`Yes CNM allows multiple endpoints from the same container to connect to different networks(the CNM Network) and we are thinking of introducing certain driver generic config to the Endpoint. One of them could possi

[2015-05-03 15:13] aboch commented on #80
Closed by https://github.com/docker/libnetwork/pull/102

[2015-05-03 15:13] #80 closed

[2015-05-04 09:15] stephanbuys commented on #103
Specifying the behaviour might actually be very beneficial, there is a great use-case for Docker in the "NFV/Network Function Virtualisation" use-case. Being able to define inter-container routing would be a great feature.

Imagine a Docker server/cluster being able to run a virtual firewall, virtual switch, etc in a serial chain..

Ingress -> Firewall -> Rate-Limit -> Content-Filter -> Egress (an

[2015-05-04 21:04] tomdee opened #112 "How do drivers set routes in the sandbox?"
There is a TODO in the Sandbox.Info code (https://github.com/docker/libnetwork/blob/043a23ae122fa79bd51dfe6ee7feed2e1645a91c/sandbox/sandbox.go#L48) but nothing in the design docs/wiki about how this will be implemented.

For my use case, I need to be able to create the following kinds of routes in the sandbox
* `ip route add [GATEWAY_IP] dev [DEVICE]`
* `ip route add default via [GATEWAY_IP] dev

[2015-05-06 21:20] #78 closed

[2015-05-07 03:24] shettyg opened #129 "uuid management"
According to current API, I see that you pass "name" of a network while creating it in libnetwork. libnetwork in turn provides only the uuid to the driver.

e.g: docker network create -d ovn --name=foo

For multi-host networking, from a different host, if someone does a "docker network ls", will libnetwork somehow share state and list both the name and uuid?

If it does indeed share state, how is

[2015-05-07 03:32] mavenugo commented on #129
@shettyg Yes. libnetwork will distribute the states and `docker network ls` will list a consistent name and uuid in all the clustered nodes. As described in the design document (https://github.com/docker/libnetwork/blob/master/docs/design.md), the Network and Endpoint objects have a global scope and the UUID is unique across the cluster.
The shared states work is not complete yet. But the general

[2015-05-07 03:35] shettyg commented on #129
Thanks @mavenugo. That answers my question. Closing

[2015-05-07 03:35] #129 closed

[2015-05-07 14:16] shettyg opened #133 "docker network join lifecycle"
I am a little confused around the life cycle.

What does 'docker network join CONTAINERUUID NETWORKNAME -l foo=bar' call in terms of libnetwork apis?
Does this call the following 2 one after the other?:
network.CreateEndpoint(NETWORKNAME, labels(foo=bar))
      -> driver.CreateEndpoint(nid, eid, labels(foo=bar))

endpoint.join(CONTAINERUUID, labels(foo=bar))
       -> driver.Join(nid, eid, sboxkey

[2015-05-07 15:43] mrjana commented on #133
@shettyg `docker network join` should have an endpoint name and a network name in addition to container ID. With that in mind internal calls are like this:
[code]
The container labels are the labels that you assign the container when it is created.

[2015-05-07 15:50] shettyg commented on #133
@mrjana
So the following pull request (https://github.com/docker/libnetwork/pull/106) from @dave-tucker would eventually change the "docker network join" syntax to also include the EndpointName?

[2015-05-07 15:55] mrjana commented on #133
@shettyg yes
@dave-tucker let us know if you thought otherwise

[2015-05-07 16:23] shettyg commented on #133
@mrjana

Which of all my following statements are true? If they are false, a oneliner on why would be helpful.

* Eventhough there are 2 driver calls with driver.CreateEndpoint and driver.Join, they will always be called together. (I do not seen any docker daemon facing CLI tool that lets you eventually call driver.CreateEndpoint and driver.Join as 2 separate calls)

* driver.CreateEndpoint() will

[2015-05-07 17:25] mrjana commented on #133
There will be new CLIs in the future which will probably say something like `docker service create` which is actually a CLI to create an endpoint and then a separate CLI `docker service join` to join a container to that. So the driver should never assume that these are going to be called together.

GATEWAY information. libnetwork will move the veths to the container namespace and then
assign them

[2015-05-07 18:08] shettyg commented on #133
@mrjana Thanks for the explanations. It helps!

driver.CreateEndpoint() is supposed to reply back with veth names. Does not this make it local host dependent. If the intention was to make driver.CreateEndpoint() portable across multiple hosts, would it not be more useful if providing back the veth names is not the responsibility of driver.CreateEndpoint() but rather of driver.Join()?

Is your thou

[2015-05-07 18:12] dave-tucker commented on #133
@mrjana you shouldn't need an endpoint name. If we require it at all, it should be optional (if no ID is specified, a new endpoint is created)

Simple use case is as follows...

I `c=$(docker run -itd ubuntu --net=foo)`.
After starting, I realise I need to access resources on `--net=bar`.
Therefore it should be feasible to `docker network join $c bar`

If you are going to optionally require and en

[2015-05-07 20:37] shettyg commented on #133
@dave-tucker
It will be very useful to have the optional endpoint name. The use case for me is that if endpoint has been pre-created in OpenStack, it already has a uuid. I can now provide that uuid as a endpointname to 'docker endpoint create'. Since docker itself will create a new eid, the name lets me relate two different uuids.

[2015-05-08 00:26] tomdee opened #136 "What is the net-labels package referred to in the design doc?"
Libnetwork will operate on the `Options` ONLY if the  `key` matches any of the well-known `Label` defined in the `net-labels` package.

I can't find any other references to this package.

[2015-05-08 01:14] mavenugo commented on #136
Please refer to github.com/docker/libnetwork/pkg/netlabel

[2015-05-08 15:11] shettyg opened #139 "Allow drivers to get the name along with uuid."
The user passes a "name" to libnetwork apis (for e.g., a network name or an endpoint name.). The libnetwork does not pass the same name to the driver but passes a uuid instead. IMO, the "name" is an information from the user that should ideally reach the driver. But currently libnetwork blocks it.

It would be nice if libnetwork passes this information to the driver too along with the uuid. This w

[2015-05-08 16:01] mapuri commented on #139
I think there is a plan to pass driver specific config/info as part of network create in form of labels https://github.com/docker/libnetwork/pull/106#discussion_r29685463. Because it might not just be network name that driver may need. But I am wondering if network name can just always be passed as one of the generic labels. That shall address this right?

[2015-05-08 16:06] shettyg commented on #139
@mapuri
Yes. A 'network-create' does have the ability to receive labels. But a driver.Join() does not receive the labels provided when you call "docker network join". (Please see: https://github.com/docker/libnetwork/issues/133 for more details). It instead receives the labels that you provide with 'docker create container'

Irrespective of the resolution to the driver.Join() issue, I do not see a

[2015-05-08 16:26] tomdee commented on #136
Thanks

[2015-05-08 16:26] #136 closed

[2015-05-08 16:37] mapuri commented on #139
I should have been more elaborate of my thought process. I meant the uuid for the `network` and it's corresponding info like name and other labels will be passed just once to the driver at time of *network create* i.e. when user issues 'docker network create'. So driver can map the libnetwork's uuid to corresponding name and other labels. Similar logic can apply for endpoints create as well.

If m

[2015-05-08 17:21] shettyg commented on #139
@mapuri
What you suggest is possible. According to @mrjana, endpointcreate can become portable across hosts. So the driver has to maintain the relationship between docker generated uuid and name across hosts too. I would like to avoid managing and maintaining this relationship. I foresee it becoming a pain in the neck.

[2015-05-10 22:33] shettyg opened #141 "How do drivers decide the ethX name?"
Currently it is expected that driver.CreateEndpoint() returns back the sandbox.info structure that needs to include ip, gateway, veth_inside and veth_outside information. (Where veth_inside is "The name that will be assigned to the interface once moved inside a network namespace.")

As I see it, the driver cannot return back that information because it does not know how many other endpoints will b

[2015-05-10 23:28] mrjana commented on #141
@shettyg Was busy integrating libnetwork with docker hence the delay in answering some of your earlier questions. Getting back to this question, the interface `SrcName`, `DstName` being present as part of the return value of the `CreateEndpoint` is an artifact of an earlier design where endpoint was a local resource and a container joined it during CreateEndpoint. With the goal of Endpoint being a

[2015-05-11 10:42] squaremo opened #142 "Semantics for "global" objects"
In the design document it's stated that networks and endpoints are "global scope within a cluster".

What is a cluster?

What are the semantics associated with these being global? For example: if I try to create a network `"foo"` on one host, then delete `"foo"` on another host, should I expect this to succeed, or to report an error?

What specifically is required of drivers to support these globa

[2015-05-12 12:00] squaremo opened #147 "Avoid dependency of remote drivers on Docker plugins"
If libnetwork is to be considered useful independent of Docker, it should not depend on the Docker plugin system. However, this conflicts with the design goal of not having driver-related types in the libnetwork API.

To wit: one very simple design would be to have a `libnetwork.RegisterRemoteDriver` procedure, which adds a `driverapi.Driver` implementation to the list of available drivers; but th

[2015-05-12 12:39] mavenugo commented on #147
@squaremo in my view, docker plugins is a reusable package. libnetwork remote drivers including it doesn't make it dependent on the Docker runtime itself. We can still use libnetwork independently in another runtime which happens to provide a plugin system that honors the contract established by the pkg/plugins.

My integration patch and my comments (https://github.com/docker/libnetwork/pull/70#is

[2015-05-12 12:43] squaremo commented on #147
Not yet, unless you are prepared to depend on the docker fork that includes the plugins work. But I am OK with this position -- it's just scheduling that presents a difficulty.

[2015-05-12 14:48] squaremo commented on #147
Can someone advise on the code organisation: would this repository vendor in `docker/pkg/plugins`?

[2015-05-12 18:59] mavenugo commented on #147
@squaremo @mrjana https://github.com/docker/docker/pull/13161 brings in the plugin infra to docker repo. I also have a proposal to the devs to move it under `docker/pkg/plugins` : https://github.com/calavera/docker/pull/6.

[2015-05-13 11:42] squaremo commented on #147
docker/docker#13161 doesn't seem to include the `plugins.Handle` procedure. Trying now to find out where it went ..

[2015-05-13 12:14] squaremo commented on #147
Plugin autoloading got taken out. So this will require a rethink.

[2015-05-13 12:53] squaremo commented on #147
Closing this and preparing a PR instead.

[2015-05-13 12:53] #147 closed

[2015-05-13 14:30] squaremo opened #150 "Creating networks via docker"
There's not much point in having the whole driver subsystem unless one can actually create a network. I don't see that as part of docker/docker#13060.

If it is a requirement to not add new commands to docker (e.g.,`docker network create`), then perhaps it can be part of the syntax of the `--net` argument. For example,

    docker run --net=weave:mynet

where `weave` refers to the driver, and `myn

[2015-05-13 15:39] mrjana commented on #150
@squaremo docker/docker#13060 is only the first of a set of PR which will made in there. So the short answer is it's coming. The idea is to implement the majority of the CLI handles and remote API handlers in libnetwork itself and just hook it up to docker core with a small function. Introducing a new UI or remote API in docker needs more discussion and that's why the goal of docker/docker#13060 h

[2015-05-13 16:19] mavenugo commented on #150
Also, we are currently integrating the `libnetwork/client` with `libnetwork/api` as we speak and we will have a `dnet` tool that makes use of these. As @mrjana suggested, the docker CLI integration will follow soon after #13060 is merged.

[2015-05-13 17:22] tomdee commented on #142
I'm very interested in this question too. Without knowing the answer to these questions it's hard t design an external plugin.

[2015-05-13 17:23] tomdee commented on #141
@mrjana Any update on this? This sounds like quite a significant change to the API. If you're not ready to push code for it, could you at least update the design doc (on a branch)?

[2015-05-13 17:33] mavenugo commented on #142
@squaremo @tomdee apologies on the delay. We are working on the finer details on this design and we will get back to this question shortly.

[2015-05-13 18:09] mrjana commented on #141
@tomdee I am getting back to working on this. Our first priority was settle down the libnetwork northbound apis so that we can get it integrated with docker core for which we have a PR in progress. It should probably not be that much of a change in driver API other than only IP addresses required to be returned during `CreateEndpoint` and everything else during `Join`. I will try to push a PR toda

[2015-05-13 18:25] tomdee commented on #141
@mrjana Thanks for the quick response. That all sounds good.

[2015-05-13 22:54] tomdee opened #151 "docker remote API doesn't show multiple IPs + MACS (endpoints)"
Per https://docs.docker.com/reference/api/docker_remote_api_v1.18/#inspect-a-container

The current API only shows a single MAC and IP per container.

[2015-05-15 02:41] naotoy opened #155 "The Overlay Driver"
Do you plan the Overlay Driver is to be released at the same time as the docker 1.7.0?
In overlay driver, which will you use either of the Linux Bridge and OVS?

[2015-05-15 23:20] #5 closed

[2015-05-15 23:21] #46 closed

[2015-05-15 23:21] aboch commented on #79
Took care of --mac--address, @mrjana  took care of the rest

[2015-05-15 23:21] #79 closed

[2015-05-16 14:07] itoffshore opened #161 "Static IP Address option please"
It would be nice to be able to assign static ip addresses to Docker containers (for web servers for instance) as a built in feature. I have a temporary solution [here](https://it-offshore.co.uk/linux/debian/36-giving-docker-containers-static-ip-addresses) with [pipework](https://github.com/jpetazzo/pipework) but it is sub-optimal as `docker inspect --format '{{ .NetworkSettings.IPAddress }}' "$@"`

[2015-05-16 14:11] mavenugo commented on #161
@itoffshore Thanks. Yes, We are accommodating this request with the support from the drivers via the driver-api changes that is currently in PR : https://github.com/docker/libnetwork/pull/152
We are trying to approach this similar to the mac-address feature for containers. Please stay tuned.

[2015-05-16 18:11] thaJeztah commented on #161
Thanks @itoffshore!

[2015-05-18 23:10] mavenugo opened #169 "PortAllocator redesign"
Port Allocator is supposed to be a reflection of the Operating System construct and must be in sync with OS view of the allocated ports.

The current port allocator reflects the software db of that construct.
Also, port allocator must also provide allocation for individual network namespace and not just for the global space.

[2015-05-20 00:25] tomdee commented on #112
The current code allows the default route to be set but it's still missing the ability to add static routes. I've raised a PR #180 to track the implementation.

[2015-05-20 03:46] baoyonglei opened #181 "request bridge not created by "createTestNetwork" in libnetwork_test.go"
libnetwork_test.go: createTestNetwork
network, err := controller.NewNetwork(networkType, networkName,
		libnetwork.NetworkOptionGeneric(netOption))

 the caller transfers the "netOption", one example is in "TestBridge":
netOption := options.Generic{
		"BridgeName":            bridgeName,
		"AddressIPv4":           subnet,
		"FixedCIDR":             cidr,
		"FixedCIDRv6":           cidrv6,
		"Enabl

[2015-05-20 13:31] Nagodar commented on #161
Now that the PR #152 is merged, what else is needed?

[2015-05-20 14:02] mavenugo commented on #161
Few things -
1. Add a reserved label for static-ip
2. Modify the `run` command to pass labels to libnetwork
3. Pass the labels to the Driver which is responsible for honoring the set `ip` based on its IPAM policies

This will happen in the next few days. Stay tuned.

[2015-05-20 14:10] Nagodar commented on #161
thanks a lot @mavenugo

[2015-05-20 17:06] dave-tucker opened #184 "Improve Build Image in Makefile"
After re-creating my `boot2docker` environment, libnetwork would no longer build.
I had to `rm libnetwork-build.created` first.

We should probably have a better mechanism to check whether the image exists before building it.
Perhaps something like `docker images | grep libnetwork-build > /dev/null  && created=true || created=false`

[2015-05-21 13:55] squaremo commented on #150
Another requirement: the ability to add more than one network in the same invocation is quite important. Typically one interface will provide internet-in-general access, and one will be the "cluster" network (e.g., weave).

[2015-05-21 14:00] dave-tucker commented on #150
@squaremo so assuming weave1 is a  network created using the weave driver, you'd want `--net=bridge --net=weave1`?

[2015-05-21 14:02] squaremo commented on #150
Yes exactly. One wrinkle is that typically we'd want the bridge driver to set the default gateway, but the weave driver to provide (or at least influence) the `/etc/resolv.conf`.

[2015-05-21 14:05] dave-tucker commented on #150
Thanks @squaremo, @mavenugo this seems like a sensible requirement. Are multiple occurrences of the `--net` flag going to be supported in the integration PR mentioned above? If not, can we add them?

[2015-05-21 14:08] mavenugo commented on #150
@dave-tucker @squaremo no. I will be pushing https://github.com/mavenugo/docker/commit/c0c7f372375b3bd112c6e0aaa28001f495273782 shortly. This is based on the discussions that i followed for volumes, the idea is to introduce --network-driver instead of overloading the --net string. We need to find a way with these constraints.

[2015-05-21 14:16] squaremo commented on #150
@mavenugo Does `--network-driver` coexist with `--net`; i.e., could one use

    docker run --net=bridge --network-driver=weave -ti ubuntu

and expect a bridge interface as well as a weave interface?

[2015-05-21 14:20] dave-tucker commented on #150
@mavenugo right, I'm not talking about overloading of `--net` here, I'm talking about supporting multiple occurrences of `--net` assuming that a network has already been created using the `docker network create` CLI

[2015-05-21 14:27] shettyg commented on #139
@mrjana @mavenugo
This is hopefully my last outstanding issue that I need some clarity on while writing a driver. I would like it if you guys provide your thoughts.

[2015-05-21 14:42] shettyg commented on #150
If there are going to be multiple --net's, is there an idea on how to pass network labels per --net?

[2015-05-21 15:05] mavenugo commented on #150
@dave-tucker @squaremo @shettyg All are valid and reasonable questions. There are a few trade-offs to be made between simple, consistent UI & functionality. I will get back to you all later today.

[2015-05-21 15:06] dave-tucker commented on #150
It hasn't been discussed here yet, but my expectation is that labels are namespaced per [the docs](http://docs.docker.com/userguide/labels-custom-metadata/)

`docker run -it --net=bridge --net=weave1 -net=vmware1 -l works.weave.foo=bar -l com.vmware.baz=quux debian:jessie`

A driver should get passed all labels, but only respond to those in it's namespace

[2015-05-21 15:12] squaremo commented on #150
Ah, but the label namespaces correspond to the driver name, rather than the network name. So if a container has two endpoints provided by the same driver, how will that driver know which labels apply to which endpoint?

[2015-05-21 15:30] dave-tucker commented on #150
Prefix the label with the network name?  E.g `works.weave.weave1.foo`

[2015-05-21 15:35] mrjana commented on #150
@squaremo @dave-tucker @mavenugo  Is it very important to support to support multiple networks in docker run command. `docker run` can be used to join the initial network. There are always going to be `network service join` commands to join additional endpoints after the initial join. I know this is racy to some extent if the application wants to communicate in the "cluster" network immediately bu

[2015-05-21 15:52] shettyg commented on #150
@mrjana, the raciness may be important IMO. Many badly written applications will simply fail when they can't reach out to peers. So you are effectively expecting applications to be written in a way that IP reachability to a peer should always have retry logic.

[2015-05-21 16:01] mrjana commented on #150
@shettyg I am not saying solving the raciness is not important. But it is much more important to get the UI right, otherwise it is very difficult to revert it back.

[2015-05-21 16:37] LK4D4 opened #189 "TestMapTCPPorts and TestMapUDPPorts fails"
With errors like:
[code]
I'm running test just by:
[code]

[2015-05-21 16:46] mrjana commented on #189
@LK4D4 Works fine for me. `make all` tests stuff inside a container as root so binding to port 80 should not be a problem. Can you post the whole test log?

[2015-05-21 17:01] LK4D4 commented on #189
@mrjana Problem is IP address, not port. Now I don't understand how it's even work on some machines :)

[2015-05-21 17:04] mrjana commented on #189
@LK4D4 hmm... didn't take a closer look at the test case. The IP address doesn't even exist. Not sure how it's working for us and in circle-ci. Will have to debug further

[2015-05-21 17:04] mavenugo commented on #189
:confused: me neither ... kernel maybe ?

[2015-05-21 17:05] mavenugo commented on #189
@LK4D4 @mrjana am okay to revert the tests to use mockproxy .... now that we are anyways discouraging using the userland-proxy feature.

[2015-05-21 17:13] mrjana commented on #189
@mavenugo I am fine with reverting the test case

[2015-05-21 17:57] #189 closed

[2015-05-21 21:55] codergr commented on #184
I could help on that in the process of learning the enviroment

[2015-05-22 08:49] hqhq opened #198 "Can not run container after libnetwork integrated to Docker"
It's a big problem but no one reported because I got it on ARM64. Anyway I don't think it's an architecture related problem.

Error message from daemon:
[code]
Not much useful, after some digging, I found error occured in libnetwork:
[code]
here it failed in this block:
[code]

This kind of error (-19 NODEV) looks like lack of some kernel support, when I run Docker on arm64 (that's before libnetwo

[2015-05-22 13:37] dave-tucker commented on #184
Thanks @codergr, if you have  the time and patience to push a patch to the Makefile it would be most appreciated!

[2015-05-22 15:55] squaremo commented on #141
Is this (or rather, the analogous problem with Join) addressed by #193, which changed the meaning of DstName to be a prefix to which libnetwork appends an index?

[2015-05-22 15:56] mrjana commented on #141
@squaremo Yes, and I think we should close this issue

[2015-05-22 15:56] #141 closed

[2015-05-22 15:57] squaremo commented on #103
Relatedly, there's a `SetResolvConf` method on the joinInfo given to join, but any value given it appears to be squirrelled away in the endpointInfo struct, and never consulted.

[2015-05-22 17:40] mavenugo commented on #198
@hqhq Thanks for bringing this to our attention.
We dont have access to this specific environment to try it out.
libnetwork uses https://github.com/vishvananda/netlink as our netlink library.
Can you please do some investigation on the assumptions this library has for your environment ?

Also, it would be helpful if you can narrow down the specific issue that you mentioned that got resolved in ear

[2015-05-22 17:59] LK4D4 commented on #198
@hqhq Thanks for report though. Can you try to run `vishvananda/netlink` tests on your machine?

[2015-05-23 14:13] codergr commented on #184
Hi @dave-tucker I performed the necessary changes by mistake I issued a PR but I guess this was not required since it is registered as an issue thus I closed it. Let me know of any comments. Cheers.

[2015-05-23 20:38] codergr commented on #169
In case the host OS does a change in the port allocation which might affect the underlying containers what is the workflow? Docker daemon monitors such changes and via libnetwork will inform the underlying containers or ?

[2015-05-24 05:54] mavenugo opened #207 "network rm (via API & UI) must fail for reserved networks"
Reserved networks such as (bridge, none and host) should not honor `network rm`.

[2015-05-24 06:24] codergr commented on #207
I could help on this any hints where to focus ?

[2015-05-24 06:28] mavenugo commented on #207
@codergr thanks. @nerdalert beat you to it :)
We have no short of issues to handle, will check with you @codergr

[2015-05-25 01:11] baoyonglei commented on #181
@mavenugo  Can you check if this is a really issue. if so, can I take place to resolve it?

[2015-05-25 01:24] aboch commented on #181
@baoyonglei Thanks for catching this.
Yes we need the fix.

[2015-05-25 20:21] mrjana commented on #139
@shettyg The name that is assigned to the network and endpoint objects are not long lasting i.e they can be replaced by something else by the user for the same object. That is why we don't pass this along to keep the driver api simple. Also this way we can make sure that the objects are referred to in a consistent manner anywhere in the cluster. If you would like to do some optimization based on n

[2015-05-25 23:08] dave-tucker opened #217 "Structs for REST API should be tagged to produce proper output when marshalled"
For example, we should use `network_type` in JSON instead of `NetworkType`.
This can be easily fixed using adding tags to the struct - see [here](http://golang.org/pkg/encoding/json/#Marshal)
/cc @aboch

[2015-05-26 02:45] hqhq commented on #198
@mavenugo Last time, I got this error and fixed by enable CONFIG_VETH, then with the same kernel, I updated Docker code, I got this error again.

[2015-05-26 02:47] hqhq commented on #198
@LK4D4 , seems lots of operation not supported error:
[code]

on x86, also have two cases failed:
[code]

[2015-05-26 11:26] bboreham commented on #150
@shettyg I think the race condition manifests in ways that are worse than "simply fail".  E.g. if your container has a service that listens on 0.0.0.0, it will listen on all interfaces that are active /at the time you do the listen/; it will not add interfaces that are added later.

[2015-05-26 15:09] squaremo commented on #150
It's already the case that you can add a weave interface to a container after the fact; avoiding the extra command (and the entailed race) is the primary motivation for developing a plugin.

Weave needs containers to have an interface on the bridge network _as_well_, and for this not to be racy or require extra commands, since it's used to provide name resolution.

[2015-05-26 15:46] shettyg commented on #150
Since endpoint creation has been separated out, would something like the following not work for anyone?

* docker network create NETWORK --driver=driver1 --labels foo=bar
* docker endpoint create NETWORK --labels alice=bob

With the UUID returned by the endpoint creation (Similar syntax as --net=container:containerid):

* docker run --net=bridge --net=driver1:EP_ID1 --labels driver1.ep_id1=foo --n

[2015-05-26 15:54] squaremo commented on #150
@shettyg There is an important difference between an endpoint that is created during `docker run` and an endpoint created _ad-hoc_; the former is garbage collected when the container stops, but the latter will hang around until deleted explicitly. That latter behaviour requires much more diligence on the part of the user, especially since it won't necessarily be obvious when those endpoints can re

[2015-05-26 16:55] dave-tucker commented on #198
I think this is related  to the `SET_NS` syscall - AFACIT it should be `375` for arm64
I'll push a patch to the netlink library and would be grateful if you could test @hqhq

[2015-05-26 17:04] dave-tucker commented on #198
@hqhq please see the patch in to `vishvananda/netns`. Can you please checkout my patch and re-run the `vishvananda/netlink` tests? Thanks in advance!

[2015-05-26 17:23] vishvananda commented on #198
@hqhq fyi the two tests failing on x86 are likely because your kernel is too old to support ipvlans. Support was added in 3.19

[2015-05-26 18:02] erikh opened #221 "API Versioning"
Are there plans for this? How will the URL structure change?

[2015-05-26 20:59] shettyg commented on #150
@squaremo
I see what you mean. I wonder whether we can do both. For e.g., one could do:
docker run --net=bridge --net=driver1:mynet

In the above case, you would call createendpoint() and join()

Alternatively,
docker run --net=bridge --endpoint=driver1:uuid

In the above case, you would only call join()
My suggestion likely won't fly because now there is a new docker cli option '--endpoint'.

(Ac

[2015-05-26 22:34] dave-tucker commented on #221
@erikh I'm :+1: for versioning /cc @aboch

[2015-05-27 16:47] aboch commented on #221
ATM, I am thinking the API version will not be part of the URL, but in the accept headers.
But given this is a contentious issue, we could also provide both ways.

As of now we also accept URLs coming from docker with docker API version as prefix (in order for libnetwork route to plug into docker router), but we ignore its value.

Whatever way we go, I'd prefer to keep libnetwork api version separ

[2015-05-27 17:13] erikh commented on #221
+1!

Thanks for considering this.

[2015-05-27 17:21] thaJeztah commented on #221
+1 for versioning

Wondering how that will look, combined with accept content-type headers. Sounds more complicated to implement in a client, but perhaps because I don't see the full picture :)

[2015-05-28 09:28] kunalkushwaha commented on #217
While testing still toml based config files are being used for libnetwork.

[2015-05-28 11:39] squaremo commented on #150
I believe https://github.com/docker/docker/pull/13441 will address this issue, in part, but seems caught up in bikeshedding :(

[2015-05-28 18:09] shettyg commented on #150
It looks like Solomon's 'docker run --publish-service db.work-dev' is similar to my 'docker run  --endpoint=driver1:uuid'

[2015-05-29 01:25] #181 closed

[2015-05-29 02:03] WeiZhang555 commented on #155
I have the same question, what's the plan on the Overlay Network Driver?
Have you made decisions on the overlay driver implementation?

[2015-05-29 03:57] mavenugo commented on #155
@naotoy @WeiZhang555 Overlay Network driver will be made available soon. This is not targeted for 1.7.0 release. The current thought process and design is based on Linux Bridge and VXLAN tunnel. Please watch this space and we will update the design document with the necessary details.

[2015-05-29 10:35] squaremo commented on #142
@madhu Is this perhaps related to #188 -- is there anything (aside from code I suppose) describing the semantics of libnetwork with a config store?

[2015-05-29 10:39] squaremo commented on #71
Please feel free to close this -- I think the relations among those things are clear (if not necessarily what we would have chosen), and the specific question about what happens with multiple endpoints is asked in #103.

[2015-05-29 10:41] squaremo commented on #112
@tomdee I'm guessing this can be closed now #180 is merged?

[2015-05-29 10:42] squaremo commented on #60
Presumably this can be closed now that libnetwork is integrated with docker -- @tomwilkie ?

[2015-05-29 10:45] squaremo commented on #49
Addressed in #127 and #143.

[2015-05-29 10:45] #49 closed

[2015-05-29 10:57] squaremo opened #234 "Give hostname and domain to drivers"
In weave "classic" we register containers that have a weave IP and a hostname with DNS, so they can be looked up across the weave network. In the libnetwork driver model, the driver is told neither the container ID nor the hostname, so this feature is not viable.

I'm not sure what the preferred means would be; but being given the hostname and domain when say, creating an endpoint, could make DNS

[2015-05-29 14:52] squaremo commented on #234
If there is a "service model" interpretation then that is fine -- we're not hung up on using hostnames specifically.

[2015-05-29 16:47] tomdee commented on #112
Yep, closing.

[2015-05-29 16:47] #112 closed

[2015-05-30 13:53] JonasT commented on #161
Reminder: please make sure it's possible to specify BOTH an ipv4 and ipv6 at the same time.

[2015-06-01 02:29] kunalkushwaha commented on #217
New PR for same #237

[2015-06-01 12:54] squaremo commented on #103
@mavenugo @mrjana This seems related to PR #212, though that does not deal with `/etc/resolv.conf` (but it could?).

[2015-06-01 16:06] mrjana commented on #103
@squaremo We are thinking of removing the capability of setting hostspath and resolvconfpath from driver in it's current form and replace it with a more generic OS independent form. The current one would work only with a unix like OS and driver api should not assume any particular OS.

[2015-06-01 16:23] squaremo commented on #103
@mrjana OK. In order for weave (as a plugin or otherwise) to operate, it needs to be able to tell containers to use its own DNS. I don't mind the mechanism, so long as I can do so.

[2015-06-01 16:59] shykes commented on #103
@squaremo can you explain why you need to change dns settings to allow multi-host connectivity?

[2015-06-01 17:18] squaremo commented on #103
Because we supply our own nameserver, so that containers on the weave network can contact each other by name.

It is of course possible to use another nameserver, or an entirely different mechanism, though there's more work to do yourself that way (because the weave script / plugin won't be telling the nameserver of the DNS entry at the same time it's assigning the IP address).

[2015-06-01 23:37] aboch opened #242 "Change iptables data model"
- iptables initialization in bridge code should be split in driver and network specific steps

- iptables.NewChain() is invoked for driver specific config (for table iptables.Nat) and the context is not preserved in the caller, so it cannot be cleaned: We should move this call to driver initialization, this implies hairpin mode (!useUserlandProxy) has to be moved to driver configuration, as it is

[2015-06-02 09:49] squaremo commented on #234
@mavenugo @mrjana Any comments? There are workarounds for this, but they are, frankly, horrific -- they involve remembering state gleaned from the docker event stream and correlating it with CreateEndpoint/Join calls. It would be better to just be told the information when it is pertinent.

[2015-06-02 13:10] squaremo commented on #234
Actually having had a better look at the docker integration, I see that they are included in the join options, so perhaps this issue is redundant.

[2015-06-02 13:13] squaremo commented on #234
(sorry, wrong button; but please close if you think this issue is already addressed)

[2015-06-02 13:30] squaremo commented on #234
No it's not redundant, those only set fields in the container config, and don't get given to the driver.

[2015-06-02 17:48] dave-tucker commented on #217
Thanks @kunalkushwaha - this LGTM
/cc @aboch

[2015-06-02 23:58] spikecurtis commented on #161
We got the impression from the [remote driver API](https://github.com/squaremo/libnetwork/blob/remote_driver_docs/docs/remote.md#create-endpoint) that @squaremo wrote that pre-provisioned or static IP addresses would be passed to the driver on `endpointInfo.Interfaces()` containing one or more `Interfaces`.

However, there doesn't appear to be any code that sets a non-zero number of interfaces bef

[2015-06-03 03:32] WeiZhang555 opened #248 "Enhancement proposal for security group support and more powerful IP allocator"
In my understanding, the overlay network driver will implement a cluster network which can span one subnet over multi-host, so have you considered to add some more advanced concepts like _Security Group_?
And also, we want to enhance the IP allocator, user can give an IP POOL fixed numbers of IP addresses, e.g. network "frontend" owns an IP pool which has three IPs--{ "192.168.1.1", "192.168.2.1",

[2015-06-03 19:22] erikh opened #251 "libnetwork does not transfer network names to the remote plugin API"
The struct CreateNetworkRequest has no notion of the network name. We use this as a means to associate a friendly network name with the network. Network IDs are really an internal state tracking thing for us.

In conversations with @mrjana I was surprised to hear there's not any intent to provide this and was hoping we could have a discussion about why.

/cc @jainvipin @mapuri @shykes

[2015-06-03 19:35] erikh commented on #251
I'm happy to provide the code with a little guidance, fwiw.

[2015-06-04 02:41] naotoy commented on #248
@WeiZhang555 Please tell us the use cases or advantages of enhancement you proposed. Is the container attached "frontend" endpoint or gateway like weave router?
# Sorry, I'm not your ping target.

[2015-06-04 02:41] naotoy commented on #248
@WeiZhang555 Please tell us the use cases or advantages of enhancement you proposed. Is the container attached "frontend" endpoint or gateway like weave router?
Sorry, I'm not your ping target.

[2015-06-04 10:02] WeiZhang555 commented on #248
@naotoy Welcome more discussions, next time I'll remember to ping you :)
For *Security Group*, it's easy to understand, I think you will be familiar with this concept if you ever played around with OpenStack, with Security Group, we can restrict every container from visiting other endpoint or being visited from outside, it's a security enhancement which is very helpful.
The other one *IP Allocator

[2015-06-04 12:19] squaremo commented on #234
I've made a small, ragged patch in my own fork of docker, that supplies these as generic options on the CreateEndpoint call; but only for endpoints created as part of `docker run --net=...`. This is on the assumption that those endpoints are for "simple networking", rather than participating in the upcoming service discovery abstraction. (https://github.com/squaremo/docker/commit/8014c3154f10372ca

[2015-06-04 14:12] shettyg commented on #251
fwiw, I have asked for the same here:
https://github.com/docker/libnetwork/issues/139

[2015-06-04 16:34] erikh commented on #251
ok, I'll close this one and watch that one, then. Thanks!

[2015-06-04 16:34] #251 closed

[2015-06-04 16:38] shettyg commented on #251
@erikh
Please do post your thoughts on why it is a good idea to pass the name too in #139. I think with more compelling use cases, we may get this feature.

[2015-06-04 17:00] erikh commented on #139
The problem for us is that we associate network names with multihost definitions in some cases; this will cause libnetwork to give us a UUID for each host that might be different, if we provided our own centralized state implementation (which we wish to do).

I think we should have this freedom. We're free to discard the data if it's meaningless. I'm pretty sure we could poll the client API for th

[2015-06-04 17:53] mapuri commented on #139
+1 for passing supplied names to the driver as part of network and endpoint creation. The usecase is the scenario where the network driver get's some of it's information from a network controller (which will mostly not be aware of libnetwork generated UUIDs), so passing the `name` to the driver helps the driver fetch more state from the controller.

BTW once #222 is available, this can be achieved

[2015-06-04 18:00] shettyg commented on #139
@mapuri
As I understand, @mavengo is using etcd to store that information across hosts. I may be a little ignorant here, but from what I know etcd scales up to 9 hosts right now (with good redundancy capabilities) with a goal of 50 hosts. For use cases, wherein we want to scale this to a lot more hosts, we can no longer depend on uuid generated by libnetwork. So the 'name' provided by the user bec

[2015-06-04 18:02] spikecurtis commented on #248
@WeiZhang555 In your example there was 1 network and one 1 pool.  Can you elaborate on the desired relationship between IP pools and networks (which represent a boundary of connectivity).  Would you always want a 1-to-1 relationship between networks and pools?  Would it be desirable for a network to have more than one pool from which to allocate?  Would it be desirable for more than one network to

[2015-06-04 18:20] mavenugo commented on #139
@shettyg @mapuri thanks for speaking for me :-), but am not using etcd :-).
But, I don't think that matters to this discussion. UUID is by definition is universal and unique and we use it for identifying the network.

[2015-06-04 18:29] shettyg commented on #139
@mavenugo
Oops, sorry about that.
For the main question here, will the 'name' be available to libnetwork across hosts too? Since labels passed to Join and CreateEndpoint are supposed to be different, would it makes sense that libnetwork provides the name to the underlying driver to solve this issue? Do you have any other recommendations?

[2015-06-05 02:19] WeiZhang555 commented on #248
@spikecurtis
In my senario, it's always 1-to-1 relationship, every network has exactly one IP pool, we can let the network own whole subnet(e.g. 172.17.42.1/24), or we can manually give IP addresses to IP pool and network can only pick up IP from the manually generated pool.
Your idea of many-to-many relationship is also interesting, but it seems 1-to-1 is enough for us now.
Thank you :)

[2015-06-05 18:54] aboch commented on #248
@WeiZhang555 We had similar thoughts about the ipallocator we imported from docker when developing libnetwork. Especially for the multi-host solution. For the single host case, we felt the original ipallocator was good enough. So we came up with some requirements and in March I worked to a new IPAM service. We also identified the "allow reserving a block of ip" requirement, where an IPAM node can

[2015-06-07 19:40] thaJeztah commented on #217
@dave-tucker @kunalkushwaha I see https://github.com/docker/libnetwork/pull/237 was merged; does that mean this can be closed?

[2015-06-08 01:05] jainvipin commented on #139
@mavenugo @mrjana - I understand the worry about uniqueness, regardless if the name is what `docker network` accepted, it would make sense to me to have a correlation in the driver, especially if a higher level orchestrator is going to ensure that network names and endpoint names are unique.

If it is not too difficult to add, I'd +1 @shettyg request to allow network/endpoint names be passed to th

[2015-06-08 02:22] kunalkushwaha commented on #217
@thaJeztah @dave-tucker The json tag are added and it works fine. So this Issue can be closed.

Though as one of comment by @dave-tucker at https://github.com/docker/libnetwork/pull/237#issuecomment-108029779

I think new issue can be created, to have a proper place to put types.go to avoid the reducendeny of this file.

[2015-06-08 02:34] kunalkushwaha commented on #45
I would like to pick this issue if no one is yet picked up.

Can you please discribe little more on this?
Is this cli will be like linux dnet (http://linux.die.net/man/8/dnet) tool ?

[2015-06-08 02:44] mavenugo commented on #45
@kunalkushwaha this is already done under `cmd/dnet/` I will mark this as closed

[2015-06-08 02:44] #45 closed

[2015-06-08 04:00] WeiZhang555 commented on #248
@aboch
Very excited to hear that! So you are developing a standalone IPAM which runs as a service, right? If true, that's exactly what we want! Hope I can have chance to help improve,  I'm really interested in that! :p

So another question is do you have plans to integrate function like *Security Group* into libnetwork?
And thank you for your answer! :)

[2015-06-08 16:32] mrjana commented on #139
@shettyg @erikh @jainvipin @mapuri There have been lots of questions regarding why `name` is not passed down as part of the driver api. I will try to answer the question with some explanation on what our thinking here is and let us know if it makes sense for you guys.

When we started exposing plugin interfaces to the ecosystem the thinking was to expose interfaces at every extension point with on

[2015-06-09 20:20] #217 closed

[2015-06-09 20:28] aboch opened #268 "Provide parameters accessor functions in bridge pkg"
In order to reduce the Lock() Unlock() sections throughout the code and to make the process less error prone, provide accessor functions (getters) for the main structures in bridge package. The accessor functions will make sure to lock the resource before returning the parameter.

[2015-06-09 20:33] aboch opened #269 "Migrate custom error struct to well-known error interfaces"
Replace the custom error types in bridge/errors.go with the well-known error interface formatters:
types.XXXErrorf(). Once the replace is done, delete bridge/error.go file.

For example:
where the type:
`type ErrInvalidNetworkConfig struct{}`
is returned, replace it with:
`types.BadRequestErrorf(...)`

[2015-06-11 23:40] mbanikazemi commented on #242
#dibs

[2015-06-12 04:54] eolamey opened #287 "Error when using a default gateway outside of the allocated range"
When setting up a default gateway, libnetwork will verify that it belongs to the bridge network, but will also try to allocate it from the allocated range which, I think, is the `--fixed-cidr` flag from docker.

However, the default gateway may very will be outside of the allocated range, such as:

[code]

Currently, this fails, although it should work.

I think this code, https://github.com/docke

[2015-06-12 05:39] aboch commented on #287
Thanks for reporting this.
I think I know where the issue is. Will propose a patch soon.

[2015-06-13 23:52] mavenugo opened #292 "Missing UI/API fixes"
- `network` & `service` config save & retrieve
- `service attach` command must honor container-name
- `service` and `network` should support labels
- ~~Handling default network in services UI/API~~
- ~~Replace -net with SERVICE[.NETWORK]~~
- ~~A few more usability bugs~~

[2015-06-14 07:13] eolamey commented on #287
Thank you for working on this. I'm sorry, but I can't comment on your solution as I really don't know how libnetwork works. I've tested a much cruder patch that removes the call to `ipAllocator.RequestIP`, it works but it's obviously not appropriate :)

Do you think there's any chance this could make it to docker 1.7.0? I've been waiting for the possibility to set `--default-gateway` for a long ti

[2015-06-14 21:27] mavenugo commented on #292
Handled the following via https://github.com/docker/libnetwork/pull/294

* Handling default network in services UI/API
* service attach command must honor container-name
* A few more usability bugs

[2015-06-15 23:45] sridhardevarapalli commented on #155
Do you have an update on the networking models that will be supported in Docker 1.7? Where can I find more details on the libnetwork APIs (including various options supported) that are described in this design doc? https://github.com/docker/libnetwork/blob/master/docs/design.md

The documentation on different drivers (Bridge, overlays etc) is very thin. Any additional info will be appreciated.

th

[2015-06-16 16:51] spikecurtis opened #302 "Hosts don't share networks even when backed by the same datastore."
I've set up two Docker daemons with libnetwork, backed by an etcd datastore (hardcoded in [my testing version](https://github.com/spikecurtis/docker/tree/etcd-datastore)).

Creating a network on one host does not result in the network being displayed on the second host `docker network ls`.  (I've verified network objects are being written to etcd.)

Creating a network on the second host with the s

[2015-06-16 17:37] mavenugo commented on #302
@spikecurtis can you try consul and confirm if this is a datastore specific or issue in libnetwork ?
(I have tested it using consul. fyi)

[2015-06-16 17:45] spikecurtis commented on #302
CC @tomdee

[2015-06-16 17:50] tomdee commented on #302
I tested with consul and hit the same problem.

[2015-06-16 17:53] mavenugo commented on #302
@tomdee which driver are you guys checking this against ?

[2015-06-16 18:08] spikecurtis commented on #302
@mavenugo Remote driver with our own Calico driver backing it.

I also tried creating a standard bridge-driver network, and it wasn't persisted across the hosts either.

[2015-06-16 18:09] mavenugo commented on #302
@spikecurtis bridge-driver is a local driver and hence it wont use the datastore.
Can you share the `libnetwork.toml` that you use to pass the configuration to dnet ?

[2015-06-16 18:12] spikecurtis commented on #302
@mavenugo I hardcoded config in Docker, since the goal was to do some system testing with Calico.

from `daemon_unix.go`

[code]

[2015-06-16 18:13] mavenugo commented on #302
@spikecurtis so you are building on top of #13441 ?

[2015-06-16 18:16] spikecurtis commented on #302
@mavenugo Yeah, until something gets merged to master we can use.

[2015-06-18 19:38] visualphoenix opened #311 "br_netfilter doesnt exist in centos/rhel 6.6"
[code]
Is a fallback needed here: https://github.com/docker/libnetwork/blob/863fee7c2d33d7d6d4414774dd7094eb5eefb7d0/drivers/bridge/bridge.go#L111 ? Do other kernel modules need to be loaded to allow #312 to be addressed?

[2015-06-18 19:40] visualphoenix opened #312 "libnetwork fails to create bridge with docker 1.7.0 on CentOS / RHEL 6.6"
CentOS / RHEL 6.6 are supported platforms for docker. Libnetwork seems to fail creating the bridge interface on these hosts.

More info here: docker/docker#14024

[2015-06-18 20:05] visualphoenix commented on #312
1.6.0 on 6.6 host shows the following:

[code]

1.7.0 on 6.6 host shows the following:

[code]

[2015-06-18 20:07] visualphoenix commented on #312
Not sure if the missing xt_conntrack,ipt_MASQUERADE are relavent in the latest libnetwork world, but wanted to highlight this difference.

[2015-06-18 20:10] visualphoenix commented on #311
closing this one

[2015-06-18 20:10] #311 closed

[2015-06-18 21:42] shettyg opened #313 "Identify duplicate requests from libnetwork to drivers."
A user makes one of the following requests in a single host:
- network create
- network delete
- service publish
- service unpublish

After the request is successful on one host, the same request is replicated in every host. The requests are also sent again when docker daemon is restarted. In case of all the above requests (except 'service publish'), the driver cannot know whether the request has

[2015-06-18 21:44] shettyg commented on #313
cc @mavenugo @mrjana

[2015-06-19 09:04] wulonghui opened #319 "where is netns-create"
Follow the example, it fails:
[code]
`namespace creation reexec command failed: fork/exec /home/gopath/src/test/netns-create: no such file or directory`
Where is the  netns-create?

[2015-06-19 09:17] wulonghui commented on #319
Got it!
should run `reexec.Init()`  first

[2015-06-19 09:17] #319 closed

[2015-06-19 15:47] spikecurtis commented on #313
+1

[2015-06-19 16:04] shettyg commented on #313
In addition, I think the model being currently followed where a single user request gets propagated to every node will slow down libnetwork too. But I see why you need this for a native linux tunnel overlay solution.  You can make a change in the design wherein this propagation of data happens inside the native overlay driver. The native driver will anyway have access to the datastore, so it can m

[2015-06-19 20:11] LK4D4 opened #321 "Bug in vishvananda/netlink"
There is bug in vishvananda/netlink which prevents main veth device from setting `TxQLen` to zero. It is fixed in master, but also in master changed value of `msg.Change` for some calls, and therefore you will need to up main veth interface with additional call.
vishvananda/netlink#38

[2015-06-20 22:23] squaremo commented on #313
The worse problem, in my opinion, is that it effectively requires drivers to implement their own consistency measures -- and these better be compatible with what libnetwork is doing. So the assumptions baked into libnetwork leak through into drivers, despite the narrow interface between them.

If there are effectively two kinds of message, say CreateNetwork and NotifyNetwork, then the driver can a

[2015-06-20 22:47] shettyg commented on #313
@squaremo
Good thoughts out there. I like the idea of NotifyNetwork() instead of CreateNetwork() being duplicated in every host. This way, the driver clearly knows that there is a difference. (I am also fine with just adding an additional parameter in CreateNetwork, DeleteNetwork and DeleteEndpoint, if the designers feel that
they don't want to increase the number of driver APIs.)

@mrjana @mavenu

[2015-06-21 07:13] erikh commented on #313
Why not implement this as a watching mechanic instead of a broadcast one? Each machine could subscribe to the change, and then as they see it adjust what needs to be adjusted.

-Erik

[2015-06-21 17:37] squaremo commented on #313
This may be a useful optimisation at some point, but it has the downside of additional complexity in the meantime. Drivers are free to treat notifications as no-ops.

[2015-06-22 02:01] mavenugo commented on #313
@shettyg @squaremo @spikecurtis apologies on the delayed response. But, when we originally started the native multi-host networking design, this is one of the very first design question that we considered and we settled to not treat a creation event as remote or local. adding a flag literally to hint it to the drivers isn't difficult. But, there are many aspects to it including the fact that what

[2015-06-22 02:25] shettyg commented on #313
I don't like the idea of built-in drivers having privileged access to APIs; but I would rather have side-channel co-ordination for things that need it (see also "user pays"), than trying to recapitulate a co-ordination protocol in the driver SPI.
We take extra precaution to avoid any such privileged access and AFAIK there isnt any.
If you can point me to anything like that, we can fix that.

@mave

[2015-06-22 02:29] mavenugo commented on #313
@shettyg ah okay :-). My question was purely curious to know if there is anything to be fixed. the in-built driver should NOT have any privileged access to the APIs.

[2015-06-22 02:38] shettyg commented on #313
How about not sharing that additional information in other hosts? Would that be okay? The drivers have that information in one host and if they want to, they will share that information in muti-host.

 I hope you understand that concern of the driver writers here. This additional sharing of the information is hurting the drivers pretty bad.

Do you have any suggestions?

[2015-06-22 14:38] squaremo commented on #313
Remote drivers represent a distributed system, built-in drivers do not; this distinction is far more important than whether built-in drivers have privileged access (though of course, they should not).

You are already in the situation of giving implicit guarantees by responding to events from other hosts at all.

[2015-06-24 14:39] jgkamat opened #329 "Support VXLAN on Kernels <= 3.15"
This is a continuation from [the issue I posted in docker/docker](https://github.com/docker/docker/issues/14145), see there for more details.

As of now, the overlay driver is working fine on kernels 3.16 and up.

[2015-06-24 22:35] aboch opened #331 "Atomic APIs for bitseq"
bitseq should provide atomic APIs to set/reset the bits so that clients (idm, ipam) do not have to handle the retry in the cluster case.

[2015-06-24 22:36] aboch commented on #331
bitseq should provide atomic APIs to set/reset the bits so that clients (idm, ipam) do not have to handle the retry in the cluster case.

[2015-06-25 19:27] kelseyhightower opened #334 "make the overlay network range configurable"
Looks like the network range is hard coded for the overlay network driver. https://github.com/docker/libnetwork/blob/master/drivers/overlay/overlay.go#L50

This should be configurable, I'm happy to work on a PR for this.

[2015-06-25 19:56] mavenugo commented on #334
Thanks @kelseyhightower. Yes. We are moving to the new ipam. And that will remove the hard coded range. Pls look out for a PR shortly.

[2015-06-25 20:13] kelseyhightower commented on #334
@mavenugo Awesome.

[2015-06-25 20:24] #302 closed

[2015-06-25 20:48] spikecurtis opened #337 "Network name is not unique across the cluster"
The current Docker UI has the user refer to networks by name.  In order for that to work correctly, the name needs to be unique across the cluster.  Currently, libnetwork doesn't enforce this.

A quick example to show this is a problem: create two Docker containers on different hosts

On the first host
[code]

On the second host
[code]

The desired effect is for these services to be on the same ne

[2015-06-25 21:23] jgkamat opened #338 "Overlay networking driver not connecting hosts after first two containers exit"
This is a little bit complicated, so let me know if anything is confusing or needs clarification. The following process is the most reliable way I have so far to reproduce the issue I am seeing.

When I start two containers on separate hosts with the overlay driver (Using experimental on 6-25-15), I can ping back and forth between hosts as expected. I then close those two containers, and start two

[2015-06-25 21:32] mavenugo commented on #338
@jgkamat Thanks for reporting this issue. If it is a particular issue like this one, it is better to open an issue instead of adding it to the feedback. The feedback issue was opened purely to get high-level feature feedback.

We will take a look at this.

[2015-06-26 00:45] squaremo commented on #337
That would work for preventing races to create the network name; but, is it possible to atomically rename a network in this scheme? (I don't know the capabilities of libkv and its underlying stores well enough to know)

[2015-06-26 14:32] lxpollitt commented on #337
@squaremo One approach might be to map rename to a create followed by a delete. Prior to the delete both old and new name would map to the same UUID.  (And you can build on that with things like generation numbers etc if you want to get more advanced and know which name to delete should you crash mid-way through the rename operation.)

[2015-06-26 16:55] spikecurtis commented on #337
I think it's important to square away the UI before deciding how to implement renames.  In particular, can a network have more than one name at any given time?

If yes, then I think renames are trivial in this model, as @lxpollitt suggested.

If each network can have only one name at a time, then the we can use a back "pointer" on the network object to ensure atomic renames.

[2015-06-26 17:56] aboch opened #343 "Endpoint to provide container's interfaces statistics"
Allow libnetwork client to access container side interface statistics

[2015-06-26 20:56] jgkamat opened #344 "Containers with periods in their names start with hyphen in /etc/hosts file under overlay"
When starting a container with periods in the container name, while using the overlay driver, the entry added to /etc/hosts shows up with a hyphen rather than a period.
[code]

This also causes unwanted effects when mixing hyphens and periods
[code]

Not sure if this is what you guys wanted to happen or not, but it would be nice if the overlay driver could take these names into account too!

Unrel

[2015-06-26 22:32] mavenugo commented on #344
@jgkamat this is expected behavior. Since we support the `service.network.driver` notation for services, we don't currently support `.` character in service names. Since we also automatically use the --name as a service name (for convenience), we decided to replace `.` with `-`. At the moment, this is an expected behavior. But, we can stop support for automatically using --name as a service name (

[2015-06-27 00:57] jgkamat commented on #344
Hmm, I think I can work around it for now. I'll let others decide what action to take, I'll close this issue as it's expected.

[2015-06-27 00:57] #344 closed

[2015-06-27 12:58] kunalkushwaha opened #347 "unable to delete network after deletion of containers. / no command to delete/detach endpoint"
This bug I faced with experimental build 1.8.0-dev.
- - - -
I created a container with publishing a service ``myapp`` and network ``mydomain``.
After that I killed the container and tried to delete the network mydomain.

But I am not able to delete network, since an active endpoint is attached to it.

How to delete or detach the network with endpoint?
I think some command is not exposed to UI.

Be

[2015-06-27 14:27] mavenugo commented on #347
@kunalkushwaha when you run a container with `--publish-service` option, the service that you publish `myapp` remains as part of `mydomain` even after the container is gone. This is because one could attach another container behind the same service which will inherit all the service properties.
If you are done using the service, use the command `docker service unpublish myapp.mydomain` to unpublis

[2015-06-27 15:27] kunalkushwaha commented on #347
thanks @mavenugo , It fixes the issue :)

[2015-06-27 15:27] kunalkushwaha commented on #347
Closing it too.

[2015-06-27 15:27] #347 closed

[2015-06-29 13:13] kgutwin commented on #287
+1. This bug prevents `--default-gateway` from working in many important cases.

[2015-06-29 23:45] #343 closed

[2015-07-01 15:57] runseb opened #358 "DST port of VXLAN is dot port of OTV in tcpdump"
When you tcpdump traffic of containers in an overlay you get things like this:

    12:58:47.102776 IP 192.168.33.11.7946 > 192.168.33.12.7946: UDP, length 22
    12:58:47.103138 IP 192.168.33.12.7946 > 192.168.33.11.7946: UDP, length 11
    12:58:47.195567 IP 192.168.33.12.7946 > 192.168.33.11.7946: UDP, length 22
    12:58:47.195932 IP 192.168.33.11.7946 > 192.168.33.12.7946: UDP, length 11

[2015-07-01 22:21] mrjana commented on #358
@runseb We will fix it to switch to IANA assigned port number so that we can keep all the packet dump tools happy

[2015-07-02 14:39] botchagalupe opened #359 "Command "docker service attach" doesn't update /etc/hosts with service name and network name"
Running - Docker version 1.8.0-dev, build f39b9a0, experimental

Here is a command snippet:

[code]

Other meta data

[code]

[2015-07-03 09:27] miketonks opened #362 "docker run should support multiple --publish-service options"
Command: docker run -d --name es1 -p 9200:9200 -p 9300:9300 --publish-service=es1.bridge --publish-service=es1.cluster elasticsearch

the es1.bridge is not connected - would be nice if multiple services supported - is this intended?

docker ps
CONTAINER ID        IMAGE               COMMAND                CREATED             STATUS              PORTS                                            NAME

[2015-07-08 09:41] BenHall opened #368 "Network I/O stats all zero / GlobalIPv6Address not set"
Hello,

When using the /stats endpoint all the network stats are zero, the other stats return the expected results. There has been network traffic working with the container.

Any suggestions on what to try next?  Below is my debugging / output so far.

Thanks

Ben

======

Stats output

[code]

Here are the network settings for the said container.

[code]

Attempting to output the netns file retu

[2015-07-08 10:28] aboch commented on #368
@BenHall This is a known issue. The fix will be in 1.7.1
#14324

[2015-07-08 10:29] BenHall commented on #368
That's great! Thank you.

[2015-07-09 18:34] mrjana commented on #41
Closing this since all of this is now taken care of by libnetwork.

[2015-07-09 18:34] #41 closed

[2015-07-09 19:21] thaJeztah commented on #368
For reference, that PR is in the docker repository, not this repo; https://github.com/docker/docker/pull/14324

[2015-07-09 19:24] thaJeztah commented on #368
@BenHall if you want to test if this issue is resolved for you, the current release candidates for docker 1.7.1 can be found here; https://github.com/docker/docker/pull/14264#issuecomment-119692197 (and RPMs here: https://github.com/docker/docker/pull/14264#issuecomment-119747020).

There will be an 1.7.1-rc3, so you might want to keep an eye on that PR, and the release is scheduled for next Tuesd

[2015-07-09 20:11] alvinr opened #369 ""a container has already joined the endpoint" when no container running"
# Problem
Occasionally get these messages

```Cannot start container b255f6a838acbd34ea93f76dfe28a6b629d06a9323496f3fa981e2f93a01781b: a container has already joined the endpoint```

There are currently no running containers (other than the swarm containers). Looking at Consul I see a single value

[code]

# Reproduce
The configuration is a 5 node Swarm cluster, where I am going through the follow

[2015-07-09 20:54] dsampath opened #370 "Experimental Release: Unable to start docker daemon"
I keep getting this error when I try starting the Daemon as per the instructions:
[code]

Am I missing something here? or is something broken on this nightly?

---

##### Here is the more complete description of the setup/output:
1. Two virtualbox vms with 2 network interfaces (NAT, Host-only).
2. Consul setup is up and running on the host.
3. Docker experimental release build *2fe51ec* on each on

[2015-07-09 21:26] dsampath commented on #370
Ah - I don't see this when i build my own experimental binary though. I think the nightly is broken.

[2015-07-10 03:21] mavenugo commented on #370
@dsampath we recently resolved this issue via https://github.com/docker/docker/pull/14402. I hope the experimental build will catch up to this fix soon.

[2015-07-10 03:21] mavenugo commented on #370
@dsampath will close this issue based on the above information.

[2015-07-10 03:21] #370 closed

[2015-07-10 23:05] ricardobranco777 opened #373 "Container fails to start after power outage"
Error response from daemon: Cannot restart container test1: invalid endpoint id: 27b2e9df4727b31dd216380ef32ffcaa1d71dec38e9e1be84f6861162f4e113a
# docker version

Client version: 1.7.0
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 0baf609
OS/Arch (client): linux/amd64
Server version: 1.7.0
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 0baf

[2015-07-11 08:22] linzichang opened #374 "createNetwork and createEndpoint' option can not be dynamically assigned"
Using docker client or libnetwork client, network option can only be assigned by `label`. `label`s are given by some docker daemon flag such as `--label`.

The cmd `docker network create -d` don't provide a flag like `--options`. This make the network inflexible. I expect the networks are more flexible when using a remote driver.

[2015-07-13 16:27] dave-tucker opened #376 "Provide an embedded datastore for libnetwork and the overlay driver"

[2015-07-13 16:29] dave-tucker opened #377 "Not all containers should be published as a service"
Following on from docker/docker#14143, not all containers should be published as a service

[2015-07-13 16:30] tomdee commented on #376
@dave-tucker Could you elaborate a little more on what this means? Is this an alternative to libkv? Is it something that remote drivers can use? Is it single host only or can it work multihost?

[2015-07-13 16:32] dave-tucker opened #378 "Integrate overlay driver with IPAM"
Overlay driver is using hard-coded ip-subnet for IP Allocation. Replace that with the proper IPAM codebase.

[2015-07-13 16:35] dave-tucker opened #379 "Persist objects created in the local-scope (single docker host)"
We need to persist the networks/service configuration data for local-scoped drivers.
This allows created networks and services to persist across reboots

[2015-07-13 16:38] dave-tucker opened #380 "Priority for the default gateway etc.. inside a container"
If a container is connected to multiple networks, and each driver submits a default gateway, which entry gets published to the route table? This tie-break can apply to any conflicting information supplied by drivers

[2015-07-13 16:39] dave-tucker opened #381 "Support VXLAN on Kernels <= 3.15"

[2015-07-13 16:41] dave-tucker opened #382 "External Connectivity"
Currently when a container on a network has published ports (via port mapping) it is connected to the  bridge network. Is this the best solution?

[2015-07-13 16:45] dave-tucker opened #383 "Allow a user to manage addressing for a given network"

[2015-07-13 16:46] dave-tucker opened #384 "Provide Integration Tests for Multi-Host Drivers"

[2015-07-13 16:47] dave-tucker opened #385 "Performance & Scale Testing"
Can we set up an automated set of test to benchmark network performance and scale?

[2015-07-13 16:48] dave-tucker opened #386 "Network and Service Label Support"
Implemented in https://github.com/docker/libnetwork/pull/222

[2015-07-13 16:49] dave-tucker opened #387 "IPAM Extension Point"
Provide an IPAM Extension Point

[2015-07-13 16:51] dave-tucker opened #388 "GoDocs - Make sure all external facing methods are documented"

[2015-07-13 16:51] dave-tucker opened #389 "Provide docs for the networking UI"

[2015-07-13 16:52] dave-tucker opened #390 "Provide support for IPv6 with NAT"

[2015-07-13 16:53] dave-tucker opened #391 "Provide top-level IP label to allow static assignment of IP to a container"

[2015-07-13 17:03] mrjana commented on #376
@tomdee This is not an alternative to libkv. This will still use libkv apis. Just that we want to provide a way for the user to not setup backend data stores themselves. If they didn't provide a backend data store option (but provide a simpler option to signify a cluster of docker hosts) then they should still be able to form networks. So in essence this is something everybody can use(both the in-

[2015-07-13 17:03] tomdee commented on #337
@mrjana  @mavenugo @aboch I think this issue is important for a first stable multi-host release of libnetwork. Could it get triaged and assigned to a milestone?

[2015-07-13 17:55] mavenugo commented on #391
This was discussed as part of https://github.com/docker/docker/pull/13476 and finally closed due to the reason specified by @icecrime @shykes https://github.com/docker/docker/pull/13476#issuecomment-109363464.

In order to support this requirement, we might have to go with hard-coded flag such as --ip & --ipv6 ?

[2015-07-13 17:57] dave-tucker commented on #391
Ok, closing in favour of https://github.com/docker/libnetwork/issues/161

[2015-07-13 17:57] #391 closed

[2015-07-13 18:00] dave-tucker commented on #377
Proposed UI is in https://github.com/docker/docker/issues/14593

[2015-07-13 18:09] tomdee opened #392 "Etcd can't be used a datastore on multihost"
I'm unable to use etcd as a backend datastore. This is a long standing issue - AFAIK, libnetwork/libkv has never worked with etcd.
[code]

Docker output
[code]

etcd was started with
[code]

[2015-07-13 21:49] mauri commented on #161
Is there any progress on this issue? I implemented a patch on docker 1.6 to support this and want to port it to 1.7 as a new driver in libnetwork. But I've seen some back and forth on the implementation, if there's a branch somewhere to take a look it would be great to not duplicate efforts :)

[2015-07-13 22:23] jgkamat commented on #381
Should I close #329 in favor of this?

[2015-07-14 08:04] mbdas opened #393 "/etc/hosts not modified on container attach"
when using docker run with --publish-service, the /etc/hosts get modified to have the entries for all other containers in that network, thus making discovery possible over dns

However, when spinning up the container separately and then attaching the container to the service through docker service attach $cid x.y , the /etc/hosts do not get modified with other containers in the network.

Is this a

[2015-07-14 17:02] mbruzek opened #394 "Could not add vxlan interface inside the network sandbox"
Hello libntwork people!

I am trying to follow the Detailed setup on the [overlay network instructions](https://github.com/docker/libnetwork/blob/master/docs/overlay.md#detailed-setup).

Environment:
I have 2 KVM virtual machines, host-a and host-b.  Both are installed with Ubuntu 14.04.2 LTS with kernel: `Linux mbruzek-kvm-machine-3 3.13.0-55-generic #94-Ubuntu SMP Thu Jun 18 00:27:10 UTC 2015 x8

[2015-07-14 17:09] dave-tucker commented on #381
@jgkamat oops! I didn't see your issue. I'll close this and we'll use yours!

[2015-07-14 17:09] #381 closed

[2015-07-14 17:10] dave-tucker commented on #329
Thanks for the report @jgkamat, we'll try and get this one fixed in time for the next release!

[2015-07-14 17:12] dave-tucker commented on #394
Hi @mbruzek, thanks for the bug report. We're already aware of this issue and we are tracking it  on https://github.com/docker/libnetwork/issues/329 - please subscribe to that issue to get notified when it's fixed. In the mean time, you might want to either upgrade your kernel to 3.16 or use a later version of ubuntu

[2015-07-14 17:24] #394 closed

[2015-07-14 17:43] jgkamat commented on #329
Thanks @dave-tucker! :smile:

[2015-07-14 22:13] alvinr opened #395 "Time taken to establish a connection between containers on overlay network"
# Problem
I have a config with multiple docker daemons and multiple containers running in each. Each container is hooked up to the same overlay network. Connections between some containers get established instantaneously. However, it appears that the time taken to establish a connection can vary greatly, for example

[code]

[code]

Its not clear whether this is a function of the number of connect

[2015-07-14 22:16] tomdee commented on #142
@mavenugo Would it be possible to provide an update on this issue? I can't see any docs describing the behavior but am I missing something?

[2015-07-14 22:19] tomdee commented on #150
@mavenugo @dave-tucker can this issue be closed now that it is tracked under https://github.com/docker/docker/issues/14593

[2015-07-14 22:21] tomdee commented on #161
I'm also interested in hearing what's happened with this issue

[2015-07-14 22:29] tomdee commented on #221
@dave-tucker Does this need a milestone assigning to make it into the 1.8 stable release?

[2015-07-14 22:43] dave-tucker commented on #221
@tomdee good idea - i'll put it forward for 0.4

[2015-07-14 22:46] dave-tucker commented on #150
Thanks @tomdee, closing in favour of docker/docker#14593

[2015-07-14 22:46] #150 closed

[2015-07-15 00:17] jgkamat commented on #338
[I created this bash script](https://gist.github.com/jgkamat/509e062a596b2f781070) to reproduce this bug reliably on my machines (running ubuntu 14.04 with the 3.16 kernel). Let me know if anyone has issues reproducing this.

[2015-07-15 00:57] tomdee commented on #392
@dave-tucker I would also argue that this needs to be fixed for 0.4, or the docs updating to say it doesn't work. It's a bit disingenuous to advertise etcd support when it has never worked. I'm happy to provide a docs PR if that's the way you think this should go?

[2015-07-15 01:01] tomdee commented on #389
Do you mean the networking UI documented here? https://github.com/docker/docker/issues/14593

If so, isn't that making it into Docker 1.8? And therefore this should be milestone 0.4?

[2015-07-15 01:08] mrjana commented on #389
@tomdee We do have a 0.4 milestone for libnetwork. But when you say this will make it into Docker 1.8 are you referring to 1.8 stable master in docker/docker. If so no, all of these UI will remain in experimental during 1.8 release and remember experimental is built nightly so it's not very meaningful of talking about any of the experimental features in terms of a docker/docker release version

[2015-07-15 01:15] dave-tucker commented on #392
@tomdee - a fix for 0.4 is unrealistic as afaik we are blocked by https://github.com/docker/libkv/issues/20

I agree - it's odd to advertise support for something that doesn't work - but the whole idea of libkv is to abstract away the complexity of dealing with multiple kv implementations. Our docs are trusting that the upstream repo does as it claims.

I'd only recommend removing etcd from the do

[2015-07-15 01:24] dave-tucker commented on #374
Hi @linzichang - this will be addressed by #222 and we have https://github.com/docker/libnetwork/issues/386 open to track this - we're hoping it will be ready in the next release!

[2015-07-15 01:24] #374 closed

[2015-07-15 01:29] dave-tucker commented on #368
Closing as docker 1.7.1 has been [released](https://github.com/docker/docker/releases/tag/v1.7.1)
If you still find that this issue is persisting, please drop us a note and we can re-open this issue!

[2015-07-15 01:29] #368 closed

[2015-07-15 01:31] dave-tucker commented on #378
Closing in favour of #334

[2015-07-15 01:31] #378 closed

[2015-07-15 01:36] dave-tucker commented on #321
@mrjana @LK4D4 can we close this issue?

[2015-07-15 01:38] dave-tucker commented on #312
Closed by https://github.com/docker/libnetwork/pull/315

[2015-07-15 01:38] #312 closed

[2015-07-15 01:43] mrjana commented on #321
Yeah this is fixed already.

[2015-07-15 01:43] #321 closed

[2015-07-15 01:46] dave-tucker commented on #207
Closed in #208

[2015-07-15 01:46] #207 closed

[2015-07-15 01:48] dave-tucker commented on #155
Closed in #308 - for information on the implementation, see [here](https://github.com/docker/libnetwork/blob/master/docs/overlay.md)

[2015-07-15 01:48] #155 closed

[2015-07-15 01:50] #97 closed

[2015-07-15 01:51] dave-tucker commented on #96
Closed by https://github.com/docker/libnetwork/pull/278

[2015-07-15 01:51] #96 closed

[2015-07-15 01:52] dave-tucker commented on #56
Closed in https://github.com/docker/libnetwork/commit/fd986bb1be53d6e0e09d7a5d83eaf40425f1a003

[2015-07-15 01:52] #56 closed

[2015-07-15 01:53] dave-tucker commented on #44
Closing in favour of the release targets we have in the wiki

[2015-07-15 01:53] #44 closed

[2015-07-15 01:54] dave-tucker commented on #42
Closing in favour of #386

[2015-07-15 01:54] #42 closed

[2015-07-15 01:54] #60 closed

[2015-07-15 01:57] dave-tucker commented on #59
This was taken care of as part of the libnetwork/docker integration and is documented in https://github.com/docker/libnetwork/blob/master/docs/design.md

[2015-07-15 01:57] #59 closed

[2015-07-15 01:57] #71 closed

[2015-07-15 01:58] dave-tucker commented on #83
https://github.com/docker/libnetwork/blob/master/docs/bridge.md is a start but it could certainly do with some additional details.

[2015-07-15 07:41] deitch commented on #161
I too am very interested. But I think it is broader than just passing a fixed IP. I think it is about *how* you generate that IP.

Here is a sample use case using default Docker bridge:

1. Determine an IP from a DNS entry (or Consul, or etcd, ...)
2. Pass that IP on to docker (and through it to the driver)

If you are using a different plugin, e.g. a macvlan plugin

1. Set up a macvlan interface

[2015-07-15 17:57] botchagalupe commented on #393
I was told this is a bug.  Check out
https://github.com/docker/libnetwork/issues/359

[2015-07-15 18:47] dave-tucker commented on #393
Closing this in favour of #359

[2015-07-15 18:47] #393 closed

[2015-07-15 23:18] tomdee opened #397 "Remote drivers get multiple add/delete endpoint calls for a single container launch."
I'm seeing that it's impossible to write a remote driver with libnetwork as there are multiple calls to add and delete endpoint each time a container is started.

In the logs below, I have 2 hosts and I started two containers
* On host 1 `docker run -tid --name workload1 --publish-service serv1.prod busybox`
* On host 1 `docker run -tid --name workload2 --publish-service serv2.prod busybox`

The f

[2015-07-15 23:32] mrjana commented on #397
@tomdee Which backend data store are you using? We haven't seen this at all over here with consul and overlay driver. One of the person here has tested 6 hosts with 4-6 containers in them and this issue was never seen. And remote protocol is essentially the same as local driver api so there should not be anything different there.

[2015-07-15 23:33] tomdee commented on #397
Aha, I think this is because I was returning different responses on the CreateEndpoint calls. Closing as I think I've answered my own question.

[2015-07-15 23:33] #397 closed

[2015-07-16 05:23] mavenugo commented on #329
@mrjana the error seen in kernels < 3.15 suggests that we arent able to set the vxlan interface in the newly created namespace for the overlay network.
As a workaround, shall we not create a namespace for each network in overlay driver for kernels < 3.15 ?

I understand that this changes the design. But do you have any other suggestion for the sake of backward compatibility ?

[2015-07-16 10:30] bboreham commented on #313
What is the intended semantics in a network partition?  The conversation so far suggests that hosts in the minority side would be blocked from doing any network-related operations, such as starting a new container.

If this is not the case, and hosts in a minority should be able to carry on, then I can't see how they would be able to say reliably which requests are duplicate.

[2015-07-16 13:01] dave-tucker commented on #329
@mavenugo not a bad hypothesis, although I'm able to create a vxlan interface in a netns on 14.04
[code]

[2015-07-16 13:02] dave-tucker commented on #329
... and just tested on a machine which exhibits this issue with the multihost driver...

[code]

[2015-07-16 13:29] dave-tucker commented on #329
Ok, and now I have a root cause :)

Turns out, prior to https://github.com/torvalds/linux/commit/f01ec1c017dead42092997a2b8684fcab4cbf126, VXLAN interfaces were created  with the `NETIF_F_NETNS_LOCAL` flag preventing them from being moved to a network namespace.

Even though you can create a VXLAN interface in a netns, I'm not sure it would work prior to this patch as the receiving (or global) net

[2015-07-16 14:12] shettyg commented on #313
@bboreham

I think that is a good point. It pretty much depends on what roadmap/vision @mrjana and @madhu have in mind, to come with any solution here.

[2015-07-17 03:42] mavenugo commented on #161
@mauri @tomdee @deitch I have been thinking about this issue for some time now and infact had a proposal of using the container labels https://github.com/docker/docker/pull/13476 to let the driver determine its course of action. But that proposal was closed due to some legitimate comments from @shykes and @icecrime : https://github.com/docker/docker/pull/13476#issuecomment-109363464.

Given that w

[2015-07-17 05:13] deitch commented on #161
@mavenugo thanks for the links there. I saw their concerns, but I think it was a larger question: how do you pass runtime information to network drivers? Everyone likes labels for their ease of use in runtime, but their inclusion in Dockerfile (and hence images) is a concern. We almost need 2 categories of labels: runtime and buildtime. Or at least a way to distinguish.

Approaching IPAM as a sepa

[2015-07-17 05:34] mavenugo commented on #161
@deitch Separating IPAM from network driver is a good thing for many reasons. We have heard from many end-users for a particular way to assign ip-addresses regardless of which network driver be used.
I guess you answered your question

Thats the exact reason why we should keep them separated.

Infact a simple static ip-address assignment for the containers can be easily achieved using this approac

[2015-07-17 08:31] deitch commented on #161
Ha! I guess I did. Often the process of asking the question causes the answer to come through.

To keep with the libnetwork philosophy, wouldn't the IP assignment for docker0 bridge driver also want to use an IPAM driver? Not that I am a stickler for it, as much as looking at it as a use case where the IP driver depends on the network driver. If we can get them to play nicely together there, then

[2015-07-17 09:06] bboreham commented on #161
From experience working on weave Net, I can confirm that IPAM can be separated from the network; IPAM doesn't need to do any more than manage a set of unique points in an address space.

Clearly it needs to be called in coordination with the network driver, and the respective API designs should support this. I think it's a bad idea if IPAM actually _assigns_ the address to the interface; what if I

[2015-07-17 09:36] deitch commented on #161
Depends. It might be more intelligent based on user parameters (giving an actual IP, looking up an IP, coordinating with a KV store, etc.)

Why does it matter?

How would that work?

Sure, that is one use case. I could see a plugin with options, or multiple plugins.

[2015-07-17 09:48] bboreham commented on #161
If an IPAM plugin is (config parameters in) -> (IP address out), then it has no contact with the actual network.  It's just an API call, which has to happen at the right time, and then the address is passed to the network plugin.

On the other hand, if the IPAM assigns the IP to the interface (as in what `ip addr add` does), then IPAM plugins are much more tightly bound to the associated network p

[2015-07-17 09:52] mavenugo commented on #161
@bboreham @deitch Yes. IPAM plugin role is just to manage the ipv4 / ipv6 addresses and its responsibility to provide the required guarantee across multi-host.
IPAM plugin also should provide configuration options such as subnet and other usual suspects (All these will be well defined in the Plugin Spec).

IPAM plugin should NOT assign ip-address to the interface and it is beyond its scope and als

[2015-07-17 10:11] deitch commented on #161
So IPAM is an IP address manager (as the acronym implies), and the network driver handles interacting with the container and eth (or similar) interface? I can see how that would be cleaner. And as my earlier examples show, it doesn't much matter which order you do it in... as long as the network driver knows to respect an IP it has been given.

So the flow looks something like this:

1. Request to

[2015-07-17 10:36] mavenugo commented on #161
@deitch The flow is inline with my thought process as well.
I hope the examples that you have given here are for illustrative purposes and you didn't actually mean to add IPAM requirements with network driver specifics (such as weave or calico or no-overlay drivers). We will have to generalize them as different schemes/modes and define them in API.

Please take a look at the existing IPAM API that

[2015-07-17 10:53] deitch commented on #161
@mavenugo excellent. I like agreeing with smart people (but disagreeing is more fun!).

No, they aren't specific requirements. I am just trying to come up with various use cases, so I can understand and tease out how it would actually be used. I agree on different schemes and modes. Ideally, the IPAM would have no clue what network driver is being used, only the IP assignment specifics. The hard p

[2015-07-17 11:51] bboreham commented on #161
@deitch note that `AddressResponse.Subnet` is of type `SubnetInfo`, which includes the routing info you ask for.

[2015-07-17 11:53] deitch commented on #161
Doh! I should have gone one more layer deep. :-)

[2015-07-17 15:05] shettyg commented on #161
It would be pretty cool to have an optional IPAM that Docker provides (I could simply use it instead of depending on something else in a Docker only network). But it has to be optional in cases wherein the IPAM is your cloud provided to actually do the necessary underlay routing.

[2015-07-17 20:00] mavenugo commented on #161
Thanks for the good discussion. Based on the comments, it seems like there is a general high-level consensus to introduce an optional IPAM plugin which the user can make use of to satisfy this PR. Also it addresses other concerns on keeping the operational and user intent separated.
Its not realistic to target this for the 0.4 milestone. Moving it to 0.5 milestone (for Docker 1.9 release).

[2015-07-17 20:18] mavenugo commented on #329
@dave-tucker Yes. And hence my previous comment -

Do you agree ?

@mrjana WDYT ?
We are able to create the vxlan interface in the netns, but its the set that fails. If I understand our original discussion, we were relying on the fact that by creating the vxlan interface on the global ns and moving it to the network-specific ns actually helps in resolving the ns that the traffic is destined to.
am

[2015-07-18 02:31] mavenugo commented on #313
@shettyg @squaremo @bboreham thanks for being patient on this. As explained in one of the earlier comments, our thought process is not provide implicit guarantees based on existing implementation.
Now that @mrjana is looking at replacing the existing --kv-store based libnetwork core, I think it is a good time to bring back this discussion and include it as part of the design.

[2015-07-18 11:37] RX14 commented on #161
Will this solution allow me to assign an externally-routable IPv6 address to a container? For example I have a dedicated server which comes with a /48 of IPv6 addresses and I would like to directly assign some of them to a container.

[2015-07-18 17:52] deitch commented on #161
@mavenugo thanks. It sounds great. The will be nitty details in determining how to get the IP given a certain driver, but it should be doable. Please do flag my name, very happy to participate.

Were you thinking multiple IPAM pluggable? After all, if I can plug in docker's docker0 networking (can I shorten it to `d0`?) plus weave's plus flannel's, then the IPAM should be "stackable" too? I would

[2015-07-18 19:36] shettyg commented on #313
@mavenugo
Great! Thanks for keeping this in your mind! If you have any insight into where you are likely headed and how we can prevent user calls made on one host getting replicated everywhere else, please do share.

[2015-07-19 02:27] mavenugo commented on #313
@shettyg my vote for this would be to work on the API to differentiate between creation/deletion vs notification. IMHO, if a driver is not interested in the notifications, it can safely ignore them. wdyt ?

[2015-07-19 02:43] mavenugo commented on #161
@RX14 there are a few command-line options tricks (using fixed-cidr-v6 and mac-address) that we have today which provides a static way to assign ipv6 addresses to a container. But, IMHO the ipv6 management needs to be properly thought through and we should avoid special casing ipv6 with many such flags. Now that we are actually thinking about proper IPAM, we have a opportunity to address all these

[2015-07-19 03:17] deitch commented on #161
Great @mavenugo I look forward to it. Kindly post the link here.

[2015-07-19 06:22] lxpollitt commented on #313
@mavenugo I think that would be very helpful. Ideally a driver would be able to indicate whether it desires notifications or not (which should help improve scale for drivers that do not desire the notification). But that could be added as a future improvement if too much to implement right now.

[2015-07-19 17:59] shettyg commented on #313
@mavenugo
That works for me and is a huge improvement for my driver.

[2015-07-20 09:49] bboreham commented on #313
It's still troubling me how much consistency you want to require from implementations.  For instance, do  you want to say:
* exactly one node will get a 'create' and all other nodes will get exactly one 'notify' event

or:
* one or more nodes will get a 'create' and all other nodes will get one or more 'notify' events

or even:
* one or more nodes will get one or more 'create's and all nodes will

[2015-07-20 17:00] tomdee opened #401 "Libnetwork breaks networking by creating unnecessary endpoints when EXPOSE is used."
If a user starts a container with `docker run --publish-service solrbad2.net2.calico --name solrbad2 -ti makuk66/docker-solr:latest bash` they expect to get a single endpoint on the `net2` network.

If the Dockerfile they are using contains an `EXPOSE` line then libnetwork also creates an additional endpoint on the bridge network. This bridge endpoint gets used for the default route which breaks n

[2015-07-20 17:10] lxpollitt commented on #401
cc @dave-tucker

[2015-07-20 17:29] mrjana commented on #401
@tomdee @lxpollitt This is an intentional stop-gap measure to provide external connectivity to containers which want to expose their services external to hosts outside the `docker network`. Ideally we want the driver to provide the external connectivity. That only happens if the daemon knows that the container wants one or more ports to exposed or mapped either using `EXPOSE` directive or using `-

[2015-07-20 17:32] dave-tucker commented on #401
I can close https://github.com/docker/libnetwork/issues/382 in preference of this until we find a better solution. Silently attaching to "bridge" and handling default routes via preference isn't going to be great imo

[2015-07-20 17:34] dave-tucker commented on #401
Note: My preference is to defer port mapping operations to the driver. We can also provide a library that we use in some of the builtins for handling this iptables/nftables/ufw/firewalld et. al so others can re-use if they want.

[2015-07-20 17:37] mrjana commented on #401
@dave-tucker That was the original and intended design to use the driver to achieve external connectivity. In fact we have a design on how to do that for `overlay` driver. It just hasn't been done yet and we wanted to provide a way for the experimental users to still have external connectivity while the work for this is in progress.

[2015-07-20 18:05] tomdee commented on #401
This behavior shouldn't be triggered by the EXPOSE directive though. Per the docs at https://docs.docker.com/reference/builder/#expose no external ports are mapped unless the user passing -p/-P when doing the `docker run`.

So - can we get a fix where the this behavior is only triggered if the user actually requests it with -p/-P?

[2015-07-20 22:21] tomdee opened #402 "Libnetwork can't handle long network names"
If I run a container with a long network name -

[code]

Container start fails with the following message

[code]

Why is there this limit on the length of the network name and what does it have to do with interface names? I asked for a network not an interface!

I would be nice to have this restriction lifted but failing that it should at least be documented.

[2015-07-21 12:29] dave-tucker commented on #401
@tomdee hmmm interesting. You are right we should only map ports from an `EXPOSE` directive using `-P`

[2015-07-21 14:26] kadel opened #405 "Setup IP forwarding fails when /proc/sys is RO, even if ip_forward is already 1"
Setup IP forwarding fails when `/proc/sys` is mounted as read-only (for example inside LXC container), even if `/proc/sys/net/ipv4/ip_forward` is already set to 1

Maybe it would be good to check value of  `/proc/sys/net/ipv4/ip_forward` and if it is already set to 1, then leave it alone.

[2015-07-21 16:51] tomdee opened #406 "docker inspect not reporting correct MAC address"
I created a container with `docker run -tid --publish-service=service5.prod.calico busybox`

When I run docker inspect, I can see that most of the `NetworkSettings` are populated but the MacAddress isn't. Can anyone else reproduce this problem or is it just me? I see this problem with the overlay driver and my remote driver (calico) but not on the bridge driver.

Inspect output is below

[code]

[2015-07-22 08:30] mavenugo commented on #401
@tomdee @dave-tucker Yes. i think EXPOSE and --expose should not add the container to the bridge network. It must be done only for -P and -p directive only.

This is not a bug in libnetwork though. rather it must be addressed in docker/docker.

[2015-07-22 18:26] alvinr opened #408 "Restarting the KV store causes Docker Daemons to peg the CPU to 100%"
# Problem
Using the new networking, if I restart the KV store (consul in this case) causes the Docker daemon process to peg the CPU to 100%. See attached graph of CPU usage on an EC2 instance.

![screen shot 2015-07-22 at 11 07 49 am](https://cloud.githubusercontent.com/assets/336450/8833221/9cf4be2c-3062-11e5-858a-539f09808a02.png)

With `htop` you can see the Docker process taking 100% of the on

[2015-07-22 18:27] alvinr commented on #408
I'm looking at getting pprof (or similar) traces of where the CPU time is being spent.

[2015-07-22 22:03] erikh commented on #408
I’m pretty sure the offender is a busy loop here: https://github.com/docker/libkv/blob/master/store/consul/consul.go#L303 <https://github.com/docker/libkv/blob/master/store/consul/consul.go#L303>

[2015-07-22 22:14] lxpollitt commented on #401
@mrjana Can you expand a bit on the planned endpoint priority feature? (I think some people might argue that IP routing already has priority concept: longest prefix match; so why do we need something different here?)  More broadly I know that the whole "container connected to multiple networks" is a thorny issue, and this is just one part of it.  I think it would be really helpful to have the inte

[2015-07-22 23:00] mavenugo commented on #401
@lxpollitt the endpoint priority feature is already in the backend. PTAL at https://github.com/docker/libnetwork/pull/212 for the changes that @mrjana added. This discussion is about the default-gateway and not routing based on longest prefix.
Container connected to multiple network via independent endpoints is the basis of CNM and is well documented under the original proposal https://github.com/

[2015-07-22 23:25] lxpollitt commented on #401
Yes, I know that containers connected to multiple networks via independent endpoints is front and center in the CNM.  I may be misremembering, but does the CNM mention anything about default gateways or priorities?  More broadly I am unclear on how it is intended that traffic from the container will get routed via the correct endpoint in the general case when a container is connected to multiple n

[2015-07-22 23:39] #338 closed

[2015-07-22 23:55] mavenugo commented on #401
@lxpollitt I think we are discussing the topic of default gateway in the Issue that is opened to address the EXPOSE issue. Shall we discuss this in a different issue / IRC ?

Just to make sure we wrap this discussion logically ... Needless to say, default gateway is a pretty obvious requirement. But, in the presence of multiple networks, how would we choose the default ? Hence we added the priorit

[2015-07-23 00:27] lxpollitt commented on #401
@mavenugo Yes, happy to discuss this in whichever forum you would like.  My intention wasn't to bog down this individual PR, I was just flagging that I don't feel I have a good enough understanding of how the "container attached to multiple networks" is supposed to work (in terms of design) to comment on whether the planned endpoint priority feature is a step in the right direction or not.

[2015-07-23 06:17] alvinr opened #411 "Hostname mapping does not work well with default ports"
# Problem

Software can allow the specification of an IP address and Port e.g. 127.0.0.1:8080. Some software has a default port number, for example MongoDB default port is 27017.

If I pass in hostname:27017 into the container where the executable entrypoint accepts this parameter, everything is ok.

[code]

However, if I just pass the hostname then this appears to get resolved to localhost.

[cod

[2015-07-24 17:23] rlane opened #414 "Remote plugin can't query for relevant resources during callback"
My remote networking plugin needs more information about the network/service/containers than just the ID, so it calls back into the Docker API. This works fine for most callbacks and resources but fails in a few instances:
1. /container/<id> (where id is from services/<EndpointID>/backends) fails during the JoinNetwork callback with a timeout (deadlock?).
2. /networks/<NetworkID> fails during the

[2015-07-24 17:45] #287 closed

[2015-07-24 17:55] rlane opened #415 "Remove "endpoints" field from /network/<id>"
Currently querying `/network/<id>` returns a list of all endpoints in the network. If all you want is the name of the network, then getting thousands of endpoints is an unnecessary cost. If a remote plugin queries the network name on each CreateEndpoint call then this makes the process of creating endpoints quadratic time.

Instead, there could be a `/network/<id>/endpoints` resource that returns

[2015-07-24 18:57] aboch commented on #415
When doing a GET on a network resource, I feel the expected behavior is to get all the info about that resource.
Maybe here the real issue is there is no alternate (lighter) way to retrieve the net name from the net id.

If there isn't any elegant way to do this (get only one property of the network resource), we can go ahead and remove the endpoint resources from the network resource, given we al

[2015-07-24 19:43] rlane commented on #415
Oh, I didn't realize `/networks/<id>/endpoints` already existed. I updated the title (and fixed some markdown errors in the description).

[2015-07-27 07:53] springi99 commented on #392
Hi,

there is an issue in https://github.com/docker/libkv/issues/26

I started that thread because i had problems of working with etcd.

The solution proposals there seems solve the problem, so you can use etcd for kv storage. (at least I can use etcd with overlay and remote ovn) One more additional issue is listed there related to network delete and cascade deleting of empty endpoints belonging t

[2015-07-28 04:34] alvinr commented on #369
# Workaround
if you restart the docker daemons it clears this problem and you can restart the container.

[2015-07-29 09:19] stefansaru opened #418 "Q: Where is the docker binary?"
I've built docker successfully, and I have built libnetwork from the master. I've searched through the opened and closed issues, through the readme, and the repo files, but did not find where the docker binary is created from this experimental branch. Is libnetwork only the separate library, which does not build the docker binary itself? Should I use another branch?

If the answer is quite obvious

[2015-07-29 11:29] dave-tucker commented on #415
Typical way to do this is to allow pagination/sorting/filtering as a query string.

E,g `/networks/<id>?limit=1` would return only one endpoint, so if you only want the ID of that network you can grab it there...

Thinking about this a little further, couldn't you use `/networks?name=foo` which would provide only the network of interest from the networks resource.

[2015-07-29 11:43] dave-tucker commented on #418
So, here's the process I used:

1) Make changes in libnetwork
2) Push changes to my branch on Github
3) Adjust `hack/vendor.sh` in Docker to clone my libnetwork (and updating the commit SHA) then `mv` to `docker/libnetwork`
4) Make docker with the experimental ltag
5) Binaries should be in the "bundles" directory

HTH

[2015-07-29 13:15] stefansaru commented on #418
Thanks for the advice Dave, will give it a go

[2015-07-29 15:00] aboch commented on #415
@dave-tucker Issue here is not a missing API, but the efficiency of getting the nw name from the nw id in a scaled setup with the current API: GET network/<id> given the returned resource description is also packed with all the nw's endpoints.

[2015-07-29 15:06] aboch commented on #415
Finally looking into this, I think this would be taken care if we move to a more REST way, where a GET on a collection returns the list of members' identifiers, not the member themselves.

Same can be done for the network resource representation: the member endpoints should be represented sa a collection of endpoint ids. The full expansion of the endpoint will be achieved via the `GET networks/<id

[2015-07-29 21:41] fabiokung opened #420 "Allocators are not safe across multiple processes"
Both `ipallocator` and `portallocator`, AFAICT, are not safe to be used outside daemons (docker?). If anyone out there is trying to use the bridge driver, or any of these allocators, outside of a daemon or singleton process responsible for allocations, IPs and ports will clash.

I've been playing with allocators that are safe to be used by multiple processes and that guarantee unique resources for

[2015-07-30 20:04] rlane commented on #415
@aboch Would `GET networks/<id>` then return a list of endpoint IDs in the endpoints field, or would the endpoints field be removed?

[2015-07-30 20:42] aboch commented on #415
@rlane I was thinking the endpoints field would not be removed, rather it would contain a list of endpoints id.

[2015-07-30 21:46] dave-tucker commented on #415
@aboch how about we return the both the ID and name - which I think is required to keep the functionality of the current query strings we have. Then to answer @rlane's question, we can add an `id` query string so you can get the network's name as follows

`GET /networks?id=aabbccdd12345789`

e.g "get the networks resource and filter it to only show elements where the id is equal to aabbccdd1234578

[2015-07-30 22:13] jgkamat commented on #338
This was a huge issue for me, thanks @mrjana for fixing it! :smile:

[2015-07-31 05:07] mauri opened #427 "Q: container static ip address and classless interdomain routing"
Hi, I have patched docker 1.6 to support routed networks which allows to assign static ip addresses to containers, completely bypassing the bridge and portmapping thing, allowing containers to communicate transparently inside a datacenter.
I want to migrate it to use the abstractions introduced in 1.7 as a network driver, and get some feedback about the use case. Description of how it works below

[2015-07-31 13:35] mavenugo opened #428 "Older version of experimental docker build are being pulled when using Vagrant"
The Vagrantfile under `docs/` is pulling a week old experimental docker image.

[2015-07-31 13:38] mavenugo commented on #428
Vagrantfile is using Ubuntu 14.10 which got EOL recently as of 07/23.
The experimental builds are not built for these EOL OS.

Hence the fix is to upgrade the Vagrantfile to 15.04.
Will take care of it.

[2015-07-31 17:40] mavenugo opened #429 "Design change to accomodate User namespace requirement"
As of Libnetwork 0.4 / Docker 1.8, libnetwork creates and owns the container's network namespace. The network resources are later pushed into the namespace and returned to the caller (Docker Daemon).
Since the namespace is entirely managed by libnetwork, the concept of Sandbox was an implementation detail within.
In order to support the User namespace requirement, as seen in https://github.com/doc

[2015-07-31 20:28] ibotty opened #430 "iptables rules: respect ipsec traffic"
Docker using iptables ruins ipsec setup, because It masquerades packets that shouldn't be masqueraded. Please add `-m policy --dir out --pol none ` to the POSTROUTING rule.

In detail: Docker creates a rule like the following.

    -A POSTROUTING -s 172.16.62.0/24 ! -o docker0 -j MASQUERADE

Instead it should create

    -I POSTROUTING -m policy --dir out --pol none -s 172.16.62.0/24 ! -o docker0

[2015-07-31 23:45] aboch commented on #415
@dave-tucker I think you are suggesting the GET from collection to return a list of resources in partial representation form.

I see other references to this approach on line and simply driven by practicality.
IIUC, it seems github REST API follow the same principle for large collections, they call it 'Summary Representations`.

Thanks for suggesting this, LGTM.

[2015-08-01 18:04] jsindy commented on #370
I am seeing this again with latest.

[2015-08-01 18:07] mavenugo commented on #370
@jsindy can you get the output for `docker version` ?

[2015-08-01 18:09] mavenugo commented on #428
Fixed by https://github.com/docker/libnetwork/pull/431

[2015-08-01 18:09] #428 closed

[2015-08-01 18:44] ping-identity opened #432 "Vagrantfile is producing an error on container startup."
vagrant@net-1:~$ docker run -i -t --publish-service=svc2.dev.overlay debian
Unable to find image 'debian:latest' locally
latest: Pulling from library/debian
902b87aaaec9: Pull complete
9a61b6b1315e: Already exists
Digest: sha256:bbc01a8af2e75ee2d951c69e9cea6390b4e669782fb2cb93b0782af087a7c1bc
Status: Downloaded newer image for debian:latest
Error response from daemon: Cannot start container 8c463d

[2015-08-01 18:51] mavenugo commented on #432
@ping-identity this is resolved by https://github.com/docker/libnetwork/pull/431. Can you pls confirm ?

[2015-08-01 19:15] jsindy commented on #370
Docker version 1.8.0-dev, build bfccd32, experimental

Looks like it might be an issue with 14.04? I have 3.19 kernel installed though.

[2015-08-01 19:31] ping-identity commented on #432
Confirmed working

[2015-08-02 14:13] mavenugo commented on #370
@jsindy thanks for the confirmation. It seems you are using the latest and it is expected to work (even in 14.04 with an upgraded kernel as yours).
ping @aboch

[2015-08-02 14:13] #432 closed

[2015-08-02 15:26] jsindy commented on #370
The Vagrantfile is working which is what I need for testing anyways. Thanks!

[2015-08-04 06:13] veggiemonk commented on #418
+1 Very useful! Thanks!

[2015-08-04 09:40] dave-tucker commented on #418
Closing this one as I think the question has been answered

[2015-08-04 09:40] #418 closed

[2015-08-04 10:00] dave-tucker commented on #139
Closing this one for now as based on @mrjana's reasoning above

[2015-08-04 10:00] #139 closed

[2015-08-04 10:01] dave-tucker commented on #133
Closing this one as the original question has been answered and the UI has changed rather significantly since the question was asked.

[2015-08-04 10:01] #133 closed

[2015-08-04 10:09] dave-tucker commented on #198
Closing this as I believe the issue has been resolved

[2015-08-04 10:09] #198 closed

[2015-08-04 10:27] dave-tucker commented on #292
@mavenugo is this issue still being used for tracking or can we close it?

[2015-08-04 10:39] dave-tucker commented on #362
Hi @miketonks, thanks for raising this issue. As there is no UI in libnetwork, any UI issues should reside in docker/docker - so I'm going to close this one for now

[2015-08-04 10:39] #362 closed

[2015-08-04 10:43] dave-tucker commented on #392
@tomdee are your issues resolved with the above mentioned patch?

[2015-08-04 11:16] dave-tucker commented on #427
Hi @mauri - take a look at the docs here: https://github.com/docker/libnetwork/blob/master/docs/remote.md

1) IIRC it was decided that there wasn't a use case for having multiple attachments the same network (e.g a network using the routed driver in this case). To implement this right now, you would need two networks and to attach to the second one (using the `docker service attach` CLI) after the

[2015-08-04 11:17] dave-tucker commented on #427
Also, re 1) another option would be to provide multiple IP addresses for a given interface. I'm not sure if the API allows this right now but I think that would be a useful feature.

[2015-08-04 14:46] mauri commented on #427
Hi @dave-tucker thanks for the answer.

WRT 1) I actually changed InterfaceInfo to have Address() []net.IPNet instead of only one, so I'm using just one endpoint. I have a patch with the whole thing here https://github.com/medallia/docker/commit/3065bb6fd281da9f643df726722852a2d6dcc7f4 if it makes sense I can extract the Address() changes and send a PR to support multiple addresses.

[2015-08-04 14:53] dave-tucker commented on #427
@mauri I think we'd still need a facility to indicate which of the IP's was supposed to be the primary for that interface. If you could create an issue specifically for supporting multiple (e.g secondary) IP addresses in InterfaceInfo, we can discuss the design there. I think then if I've answered 2) to your satisfaction we can close this question!

[2015-08-04 15:00] mauri commented on #427
sounds good!

[2015-08-04 15:00] #427 closed

[2015-08-04 15:45] candlerb opened #437 "IP allocator to take firstIP and lastIP instead of CIDR block"
(Related to https://github.com/docker/docker/issues/15287)

It would be more flexible if the IP allocator could be instructed to use an arbitrary range of addresses, e.g. 10.10.0.100 - 10.10.0.199, rather than be restricted to a block on a CIDR boundary.

In fact, the allocator already works this way internally: `newAllocatedMap` explodes the passed CIDR range into firstIP and lastIP.

Therefore I

[2015-08-04 21:46] abronan commented on #392
@dave-tucker It's probably time to update `libkv` in *Godeps* here? We merged small fixes here and there that were useful in Swarmfor issues with the discovery and Leader Election mechanisms. I also merged the patch from @springi99.

So far, the 3 backends are working on our side with Swarm because we stay in the limits imposed by docker/libkv#20 (we should document it better and add a *warning* s

[2015-08-04 22:39] ricardobranco777 commented on #373
I reproduced this bug again, and "docker start" succeeded at the 3rd attempt.

[2015-08-05 02:56] alvinr opened #438 "--kv-store parameter does not use URI format"
# Problem
The --kv-store parameter specifies the host & port plus the schema name to connect to the KV store, for example
[code]

This format does not follow the standard URI scheme, which would seem to be the defacto standard for this type of specification.

# Solution
See the URI spec, or wikipedia https://en.wikipedia.org/wiki/URI_scheme

# Workaround
Leave as is and "deal".

# Environment
[cod

[2015-08-05 15:28] #405 closed

[2015-08-05 16:41] #242 closed

[2015-08-05 21:54] mavenugo commented on #358
@sanimej identified an issue with the fix #361. Though we set the vxlan id as 4789, the actual udp dst port used in the packets were 46354. Thats because of endian issue in the netlink library :
`4789 is 0x12b5.. but the port used in the pkts is 46354 which is 0xb512`

Reopening it so that @sanimej can fix it.

[2015-08-06 16:50] dave-tucker commented on #369
Closing as this should have been fixed in #440

[2015-08-06 16:50] #369 closed

[2015-08-07 20:34] alvinr opened #446 "runtime error: invalid memory address or nil pointer dereference in Overlay Driver"
# Problem
Found the following in the logs

[code]

# Workaround
None (yet)

# Environment

[code]

[code]

[code]

[2015-08-08 00:52] aboch commented on #358
Fixed by @sanimej in #447

[2015-08-08 00:52] #358 closed

[2015-08-10 19:18] abronan commented on #408
I don't think this is related to the call `WatchTree` because on Consul shutdown, `List` will fail, return an error thus closing the goroutine and the watch channel. The busy looping might be in `libnetwork` somewhere where it retries the `WatchTree` indefinitely on store failure. In Swarm, we wait for some time on `Watch` failure after retrying ([here](https://github.com/docker/swarm/blob/master/

[2015-08-10 22:47] mbanikazemi commented on #406
#dibs

[2015-08-11 03:17] mountkin opened #450 "panic in sandboxdata.go:29"
I ran into a panic when I was trying to reproduce the problem reported in https://github.com/docker/docker/issues/15341.

Test code: https://gist.github.com/mountkin/a3b9fb04380b1ee76a10
The test program will panic after 30 seconds or so.

backtrace:

[code]

[2015-08-11 03:22] mountkin commented on #450
[code]

[2015-08-12 00:07] mbanikazemi commented on #406
I think there is a need to define the keys for some of the iinformation returned from a network plugin as part of the endpointOperInfo such that they can be processed by docker. In the patch I just pushed I use MacAddress as the key for the MAC address information as I think it is what is used by the bridge driver. So for the MAC address to show up with docker inspect, the plugin needs to return t

[2015-08-12 17:30] dave-tucker opened #452 "Epic: Stateful Service Insertion"
Provide an API that allows stateful services to be injected in to the datapath between one or more containers.

This may be unsupported on some types of driver so it may be necessary for some form of capabilities exchange to be added to the Driver API.

An implementation on Linux might be possible using NFQUEUE

There are many use cases for this type of functionality:
- Injecting a tap to duplicat

[2015-08-13 21:30] tomdee opened #455 "Routes are not cleared when endpoints leave a sandbox"
The user visible symptom of this is that if you try to join an endpoint to an existing sandbox, the request can fail if a driver is being used that sets routes in that sandbox.

From the user's perspective, they see:

[code]

Drivers can provide routes on a `join` so I think libnetwork needs to take care to clean up the routes when doing a `leave`

[code]

[2015-08-13 22:28] aboch commented on #446
Fixed by #454

[2015-08-13 22:28] #446 closed

[2015-08-13 22:29] mavenugo commented on #446
@alvinr can you pls confirm ?

[2015-08-14 10:00] mavenugo commented on #450
@mountkin Thanks for your help in narrowing down https://github.com/docker/docker/issues/15341 and thanks for sharing the test code. We will get this issue resolved.
Were you able to reproduce https://github.com/docker/docker/issues/15341 again ?

[2015-08-14 11:58] mountkin commented on #450
@mavenugo Unfortunately I couldn't reproduce  docker/docker#15341 again.
If I run the test code with more than 1 concurrency it'll panic.  I run the code with 1 concurrency for about 1 hour but I didn't see the problem. :crying_cat_face:

[2015-08-16 22:48] MalteJ opened #458 "Why are routes added by libnetwork and not by remote driver?"
In the remote driver documentation it says

Why are the routes just described by the remote driver but added by libnetwork?
Could the driver not add the routes itself?

Thanks for clarification.
Malte

[2015-08-17 01:13] #331 closed

[2015-08-17 08:55] squaremo commented on #458
Because libnetwork will subsequently put the interfaces in a network namespace that it has created for the container, and when it does so, any configuration of the interfaces (IP addresses, static routes) is reset. The driver cannot do this, because it's not told about the network namespace.

[2015-08-17 09:14] tfukushima commented on #414
Hi, I'm working on [Kuryr](https://github.com/openstack/kuryr), a libnetwork remote driver bridges between Docker and OpenStack Neutron. I'm also looking for ways to retrieve some more information more than what are passed to the remote driver during libnetwork's API calls because currently I'm using `NetworkID` as names of networks in Neutron, which are not user-friendly so much. For now the crea

[2015-08-17 12:09] MalteJ commented on #458
ahh, I think if have had misunderstood the flow.
I thought the driver would do all the veth pair and netns stuff. But it just has to provide the info. libnetwork creates all of this and the driver just has to connect the non-namespaced-veth device with a linux bridge or something.

Thank you! :)

[2015-08-17 12:45] squaremo commented on #458
You've got it exactly. It's not the only possible design, but it's libnetwork's design.

[2015-08-17 12:47] MalteJ commented on #458
thanks for your help!

[2015-08-17 12:47] #458 closed

[2015-08-17 12:54] thaJeztah commented on #458
@MalteJ does that help you with your project, or will that complicate things?

[2015-08-17 13:14] MalteJ commented on #458
It's fine.
I just think the name "driver" is misleading. It's more of a control plane, isn't it?

[2015-08-17 13:38] robin-zhou opened #460 "Optimization Idea"
https://github.com/docker/libnetwork/blob/master/ROADMAP.md
The libnetwork's roadmap says: libnetwork aims to satisfy that composable need for Networking in Containers.
I have some idea about improve the libnetwork, make it more flexible in a docker cluster to config containers' network. Just as Neutron, we define a plugin/agent mode.
Does anyone think about it ?  please give me some advice , than

[2015-08-17 15:47] MalteJ commented on #458
One thing you cannot do is setting up iptables within the network namespace.
You always have to do the firewalling on the bridge.

[2015-08-18 07:29] chenchun opened #461 "Local restore of LocalScope drivers such as bridge and host driver"
I've took a look at the current store/datastore usage in libnetwork code base. I think libkv is mainly used for service discovery of `GlobalScope` network such as overlay and remote driver.
In order to implement docker daemon hot upgrade https://github.com/docker/docker/pull/13884, lots of states of bridge driver like ip/port need to be preserved and recovered from data store after restart of daem

[2015-08-18 07:33] mavenugo commented on #461
@chenchun Yes. @sanimej is actively working on `boltdb` as a libkv backend.
We feel that it works best for the `LocalScope` drivers.

[2015-08-18 07:38] chenchun commented on #461
@mavenugo, thanks. I believe I can just wait for boltdb backend and keep going implementing libnetwork `LocalScope` restore with libkv api.

[2015-08-18 07:41] mavenugo commented on #461
@chenchun in order to avoid duplicating the work, it would be good to sync up with @sanimej on the current state of the implementation. I believe he also got the `LocalScope` integration done with boltdb as a backend in libkv.

[2015-08-18 07:48] chenchun commented on #461
@mavenugo, thanks. @sanimej, can you share your current branch of the implementation?

[2015-08-18 16:20] mauri opened #463 "InterfaceInfo supporting multiple Address"
Hi, drivers should be allowed to assign multiple IP addresses to an interface. InterfaceInfo currently declares an Address() net.IPNet, it would be nice to have it return a []net.IPNet.

Regarding primary and additional IP addresses: The first one, Address()[0], can be considered primary and the rest additional (or alias) IP addresses.

[2015-08-18 18:02] sanimej commented on #461
@chenchun I am making some changes and testing it.. will share the branch shortly.

[2015-08-18 22:23] sanimej commented on #461
@chenchun here is the branch with my changes.. https://github.com/sanimej/libkv/tree/boltdb

I will be making some additional changes. But you can started with the libnetwork integration.

[2015-08-18 22:30] mavenugo commented on #461
@sanimej Thanks.
@chenchun I synced up with @sanimej & he hasn't started on the libnetwork integration with the libkv based boltdb backend yet. If you are interested, please push a PR.
It would be helpful if you can share your design idea so that we can review it before you start to integrate the libkv changes that @sanimej provided.

From a design standpoint, we were thinking of keeping it simple

[2015-08-18 22:54] chenchun commented on #461
I'm not started too. Yes, I planned to keep two objects of libkv stores. I'll think about it and post my idea here.

[2015-08-18 22:56] mavenugo commented on #461
@chenchun Thanks

[2015-08-20 04:08] abronan opened #464 "Provide CLI and remote API options to force remove networks and endpoints"
It is not possible to force remove an `endpoint` or a `network` through the cli and remote API.

If a network depends on many endpoints, we need to remove the endpoints first before removing the network. This would be convenient to provide a way to *force remove* a network, which means that the dependency is ignored or that all dependent endpoints are also deleted by this operation (the same way w

[2015-08-20 07:48] chenchun commented on #461
@sanimej, thanks for providing the branch.

[2015-08-20 15:08] mavenugo commented on #461
@chenchun can you please share the design ? Also, the local-scope persistence is of priority for other issues that we are seeing. Is this something that you can handle soon ?

[2015-08-20 15:17] mavenugo commented on #464
@abronan network and endpoint objects are global in nature and hence forcing a removal on a node can be communicated effectively across the cluster and perform the cleanup. But, unfortunately, the container (sandbox) that is attached to the endpoint is a locally scoped object and hence attach/detach event is done on the local node where the container exist. Also, a distributed forced removal requi

[2015-08-20 17:06] abronan commented on #464
Thanks for the clarification :+1: , yes the distributed nature of the operation: ie. spreading network configuration and information between machines makes the operation a lot more complex to implement. I guess that from a UI perspective I expected a `-f` to be present. As of now I'm creating a lot of endpoints and networks for testing and removing them is quite tedious.

For the containers being

[2015-08-20 17:13] mavenugo commented on #464
@abronan Yes. We have a similar request from @shykes on atomic service swap, where it will replace the 2 step process that we have `dettach` from an existing service and `attach` to another service. The idea is to perform this operation from any of the host in the cluster. These distributed configuration enhancements can all be considered under the same design effort.

[2015-08-20 23:33] chenchun commented on #461
Sorry for the delay. My design is as below

Add a `localStore datastore.DataStore` field in controller.
Add a `LocalDatastore DatastoreCfg` field in Config.
We can choose the correct store in `updateNetworkToStore/deleteNetworkFromStore/updateEndpointToStore/deleteEndpointFromStore` according to the scope of the network.
For localStore there is no need to watchNetworks/watchEndpoints

I didn't see

[2015-08-20 23:46] mavenugo commented on #461
@chenchun thanks. The design is inline with my thought process as well.

Well, we depend on `watchEndpoints` to do the restore during daemon restart and it does work for global datastore. But, if we don't support `watch` for localStore, then we will have to implement a `c.getEndpointsFromStore` just like `c.processNetworkUpdate` and use the existing `c.processEndpointUpdate` to trigger the update

[2015-08-20 23:51] chenchun commented on #461
OK, I will make a PR when I go to the office shortly.

[2015-08-21 00:14] sanimej commented on #461
@chenchun I noticed an issue with AtomicPut.. I am in the process of committing a change. You can pick it up once its in for your integration.

[2015-08-21 00:59] mavenugo commented on #461
Just to be clear, the libkv side changes are being tracked under https://github.com/docker/libkv/pull/46

[2015-08-24 20:48] ajaybhatnagar opened #468 "External nodes network routing configuration to overlay mode containers"
Hi
I tried overlay driver and it worked well as documented and application was able to connect to external nodes. However, in a cluster type of setup, if container is launched on specific node, route need to be added on remote hosts (not part of docker containers ). For example, If I have two nodes on which I can launch docker containers, then I need to change route on "external nodes" to route th

[2015-08-25 18:05] #395 closed

[2015-08-26 18:38] estesp commented on #429
A minor comment on milestone--assuming this is necessary for the user ns work in Docker, I notice that the 0.5 milestone has an October timeframe, but to make 1.9 for user ns, we will need it much sooner.  I know you are already working on it, so again, this may be a minor nit, but just wanted to verify we're talking about the same work.  Thanks!

[2015-08-26 18:44] mavenugo commented on #429
@estesp this is one of the top priority. once #365 gets merged, we will have the userns specific changes merged right after. The milestone is purely based on release and doesn't indicate the priority :)

[2015-08-26 18:44] estesp commented on #429
great, thanks @mavenugo!

[2015-08-26 22:59] hariharan16s commented on #401
@mavenugo  : Hi Madhu, When I start the docker container the default route is not getting created, Can you please let me know how I can create the default gateway?  I am using --net=<bridge> to start the container.

I am a newbie to Go lang. I see the SetGateway func which says it sets the default gateway when the container joins the endpoint (IPv4). Is that what I need to use?

[2015-08-27 18:02] ajaybhatnagar commented on #401
When creating a container, two interfaces get created with same IP.

root@expdocker-01:~# docker exec -it 7970652d8512 bash
root@7970652d8512:/es# ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope ho

[2015-09-02 18:08] tomdee opened #485 "[REGRESSION] Can no longer run containers with --publish-service"
This is a recent regression. I did not have this problem with older versions of docker.

This probably only affects drivers that set routes.

@mavenugo Has there been a recent change that affects the ordering of when networks come up relative to routes being set?

[code]

[code]

[2015-09-02 22:51] thockin opened #486 "Remote drivers are (wrongly) assumed to be global"
https://github.com/docker/libnetwork/blob/master/drivers/remote/driver.go#L32

It should be possible to write local-only drivers.

[2015-09-02 22:54] mavenugo commented on #486
ping @squaremo @tomdee @shettyg. Since you worked on the remote driver implementation more closely, can you please help with defining a proper registration mechanism to determine if the remote driver is interested in being a local scope or global scoped driver ?

[2015-09-02 23:03] squaremo commented on #486
It may be difficult to do this without modifications to the plugin subsystem. My best guess at doing without that is to have two kinds of driver; `"Implements": ["NetworkDriver"]` means a globally scoped driver, and `"Implements": ["LocalNetworkDriver"]` means a locally scoped driver. (Immediately obvious problem: what does both mean?)

I agree that this is a gap; but I wonder if it is *exactly* w

[2015-09-02 23:10] mavenugo commented on #486
@squaremo i dont think we would need to change the plugin subsystem for this. We could add an explicit call for capability negotiation before having to register the plugin with libnetwork.

If it is a locally scoped driver, then libnetwork will not distribute the network or endpoint information or require a KV store to back these guarantees.

[2015-09-02 23:13] thockin commented on #486
For example, Kubernetes endpoints are not going to be used across hosts.
If we end up implementing our own driver, IPAM decisions are local
decisions. We assign a CIDR per host.  Those IP addresses are not usable on
any other host.

On Wed, Sep 2, 2015 at 4:03 PM, Michael Bridgen <notifications@github.com>
wrote:

[2015-09-02 23:15] mavenugo commented on #486
@thockin as we discussed, this is a good reason to be a local-scoped driver.

[2015-09-02 23:29] shettyg commented on #486
@mavenugo
I am likely missing a piece of the puzzle here. A locally scoped remote driver can't work if docker provides uuid instead of names. For e.g:

On host-1:
docker network created -d openvswitch foo

My driver currently receives just a uuid. On a different host, if I run:

docker service publish my-service.foo

I will likely get a "foo" network not found error.

What do you have in mind for

[2015-09-02 23:33] shettyg commented on #486
Also I think a locally scoped driver will work if commands like "docker network ls" ask the local driver to list networks instead of trying to list UUIDs on its own. The local drivers can provide back UUIDs and names back which is listed by docker. So in theory the local drivers do the job of libkv.

[2015-09-02 23:33] tomdee commented on #486
The suggestion from @squaremo sounds sensible to me. The plugin already has to do a handshake to establish its capabilities so adding a different capability for "local" plugins sounds like a good idea

[2015-09-02 23:34] thockin commented on #486
Is "On a different host" compatible with a locally scoped driver?

On Wed, Sep 2, 2015 at 4:29 PM, Gurucharan Shetty <notifications@github.com>
wrote:

[2015-09-02 23:37] shettyg commented on #486
@thockin
So when you say "local" drivers, you are in effect saying that commands like "docker network ls" etc will simply not return information provided to locally scoped driver?

May be if you give an end to end workflow of a locally scoped driver that you have in mind, I will know better.

[2015-09-02 23:37] tomdee commented on #486
@shettyg That's an interesting thought. You're treating locally scoped drivers as a way to sidestep multi-host parts of libnetwork. Which as you point out, only works if libnetwork defers more control to the driver.

[2015-09-02 23:50] mavenugo commented on #486
@shettyg locally scoped driver will make sure libnetwork doesnt synchronize the networks, endpoints and hence yes, it is upto the orchestration system to determine how this is handled across multi-hosts.
In the case of k8s, it will work, because it requires its own subnet space per host and doesnt require L2 mobility. And hence I suggested to open this PR. The drivers can determine what it prefer.

[2015-09-02 23:52] shettyg commented on #486
@mavenugo
Got it. In that case, @squaremo suggestion is a nice starting point.

[2015-09-02 23:55] shettyg commented on #486
Another thought. Isn't a locally scoped driver same as starting docker daemon with a libkv store that is local only?

[2015-09-02 23:58] mavenugo commented on #486
@shettyg @squaremo @tomdee i dont think having another plugin endpoint is a good idea. This is a property of the network driver and must be honored as such. Introducing another plugin type will call for more changes to the libnetwork core to look for more plugin types, when the functionality provided by the driver is the same.

[2015-09-02 23:59] squaremo commented on #486
Not in general. Because each host will assume it's acting only locally, it will cons a new UUID for a network it hasn't seen on that host. If "LocalScope" is being used to mean "let me do my own co-ordination", this is going to fail to do the expected thing.

[2015-09-03 00:00] mavenugo commented on #486
@squaremo correct. bridge driver today is a localscoped driver and it doenst depend on the distributed states. Same I think will work for k8s and other drivers such as macvlan, ipvlan plugins.

[2015-09-03 00:00] squaremo commented on #486
@mavenugo Fair point about plugin types; minor shame to have another handshake exchange, but I agree it is better overall.

[2015-09-03 00:01] squaremo commented on #486
Right; this leaves systems that do their own co-ordination high and dry, unfortunately.

[2015-09-03 00:06] mrjana commented on #486
@squaremo Are you looking for a notion of cluster to be provided to the drivers by libnetwork?

[2015-09-03 00:11] squaremo commented on #486
This wouldn't help, since it would still be the case that drivers only see UUIDs, and these are constructed assuming that Docker's is the only own shared state. So I would lean towards giving the drivers the information they need to do their own co-ordination, which pretty much means the user-supplied names.

[2015-09-03 00:22] thockin commented on #486
Yeah, this would be better.  I can then have kubernetes orchestrate each
individual docker node to create a network "kubernetes" and use that in all
my `docker run` calls, without having that try to synchronize across nodes
if I happen to have a libkv driver installed for some other reason.

On Wed, Sep 2, 2015 at 5:11 PM, Michael Bridgen <notifications@github.com>
wrote:

[2015-09-03 00:26] mavenugo commented on #486
@thockin k8s can still do that. If you are planning on using local-scope driber and if the network is created by k8s, it has the mapping between the name <-> network-id across all the hosts.

[2015-09-03 00:27] mrjana commented on #450
@mountkin This got fixed by #365. Please retest and confirm if this is indeed gone. Then I will close this issue

[2015-09-03 00:33] Crazee opened #488 "Start an overlay network with the consul bits in a container"
I’ve been using docker-machine to create boot2docker-based hosts for my containers.  So I wanted to connect the hosts together using the fancy new “docker network” doodads.

What I wanted to do was
1. Create a new (boot2docker based) machine via docker-machine
2. On that machine setup a consul server via a progrium/consul container
3. Then get the docker process on the host machine to --kv-store=c

[2015-09-03 00:42] mavenugo commented on #488
@Crazee when you say `self-contained` what do you mean ?
Embed consul (or other KV Store) inside libnetwork and not have the need to deal with this external bootstrapping issue ?

[2015-09-03 01:14] aboch opened #489 "IPAM driver proposal"
### Proposal

There have been many requests from end-users about having some control of the ip address assignment for containers. In order to satisfy this requirement in a common way across the different network drivers, we need to make some changes to the way ip addresses are managed today in the CNM model.

We think the address management should be deferred to a new component in libnetwork separ

[2015-09-03 04:31] mavenugo commented on #489
ping @shykes @crosbymichael @icecrime @squaremo @tomdee @shettyg @thockin @erikh

IP addressing of services and containers have been one of the most requested feature in docker. So far, it was defined within the drivers, with minimal configuration (such as bridge-ip & fixed-cidr). With the introduction of Network plugins and ability to place containers on multiple networks, it is essential to prov

[2015-09-03 04:38] thockin commented on #486
If I use local-scope driver, won't every node have a different network ID
for the "kubernetes" network?

On Wed, Sep 2, 2015 at 5:26 PM, Madhu Venugopal <notifications@github.com>
wrote:

[2015-09-03 04:39] mavenugo commented on #486
@thockin yes. it will be. just like docker0 bridge today which is different in each host.
If you want the "kubernetes" network to have the exact same ID across all the hosts, then you are essentially looking for a Globally scoped driver.

[2015-09-03 04:40] thockin commented on #489
Can you sketch how something like DHCP would work?

[2015-09-03 04:46] thockin commented on #486
I don't want Docker to try to manage it globally because we have our own
API.  I don't want to implement generic KV store on top of our structured
API.  I'm forced to use local drivers, but I need the name so I can find
info in my own API.  Your surrogate key is not useful to me.

On Wed, Sep 2, 2015 at 9:40 PM, Madhu Venugopal <notifications@github.com>
wrote:

[2015-09-03 05:12] mavenugo commented on #485
@tomdee I dont know of any specific change that could have caused this issue. It will be useful if you can spot the version of docker experimental image that works. We havent done many vendor-in of libnetwork into docker after the 1.8 release. It should be easy to spot a broken image if you just try those images pre and post vendor-in.

[2015-09-03 14:26] mountkin commented on #450
@mrjana It seems that the bug is fixed. I think this can be closed.

[2015-09-03 14:26] #450 closed

[2015-09-03 15:24] mavenugo commented on #486
@thockin can you please help explain what you mean by `Your surrogate key is not useful to me.` ?
AFAIK, I don't own any surrogate key ;) . jokes apart, I really like to understand your concern here so that we can find a balance between the docker users and kubernetes users. Please note that docker addresses more use-cases than kubernetes.

[2015-09-03 15:51] shettyg commented on #489
Creating a Network
--------------------------

If I have to pass a subnet to docker daemon while calling "docker network create -d openvswitch foo", how do you see it being done? i.e. what would a hypothetical user facing command look like?

If subnet is passed by the user and not gateway, what would happen? Will .1 in the subnet be chosen?

Also in the above command "openvswitch" refers to my plu

[2015-09-03 16:03] aboch commented on #489
@shettyg

IPAM will chose itself an IP from that subnet for your gateway.

We think the user will specify the IPAM driver in the UI as he does for the entwork driver

No. The remote IPAM driver will have to manage its own database.

I am thinking the self designated gateway address will be the last in the subnet range

When a network is configured and no ipam driver is specified in the UI, the def

[2015-09-03 16:13] mavenugo commented on #489
@shettg @aboch

From a UX standpoint, we could use the labels for such operations (or) make it first-class option for the network command.

Its entirely upto the ipam driver implementation. Maybe it is something pre-configured/determined in a customer network and say dhcp could be a backend driver giving out these config.

We are thinking of adding a `--ipam-driver` option. Should we make it per-n

[2015-09-03 16:18] jainvipin commented on #486
@tomdee, @shettyg

If this works, then I would not have to think two ways to implement drivers when it runs as a plugin in Kubernetes vs natively as remote driver on libnetwork. Assume that I have KV store available.

I imagine by `more control` you mean providing network name in the API.

[2015-09-03 16:20] jainvipin commented on #489
+1 for dhcp support - will help many use cases of migration, use of existing tools, etc.

[2015-09-03 16:22] mavenugo commented on #489
@jainvipin yes. dhcp backend will be extremely useful. Will you be interested in contributing a dhcp based ipam-driver ? that would be awesome !

[2015-09-03 16:31] shettyg commented on #313
@mavenugo
It has been while on this issue. I hope you still have it in your plans.

[2015-09-03 16:39] aboch commented on #489
@thockin ATM we are not planning for a implement a DHCP plugin as part of libnetwork. In the case you want to use a DHCP server for your IP address management, I am thinking you would write a remote IPAM driver which would interface with DHCP server.

If you hit any road blocks during the design/implementation of such a plugin, please let us know which changes are needed to the IPAM driver API in

[2015-09-03 16:41] thockin commented on #489
I think IPAM is really per-network driver

On Thu, Sep 3, 2015 at 9:22 AM, Madhu Venugopal <notifications@github.com>
wrote:

[2015-09-03 16:41] thockin commented on #489
I just want a sketch of how you think it would work, to demonstrate how
viable this proposal is

On Thu, Sep 3, 2015 at 9:39 AM, aboch <notifications@github.com> wrote:

[2015-09-03 16:48] mavenugo commented on #489
@thockin if it is a per-network driver, how can we provide any gurantees of ip-address reuse in different network and a container happen to belong to these multiple networks ?

[2015-09-03 18:03] erikh commented on #489
Aside, it would be really nice to have configuration files for this
stuff.

On 3 Sep 2015, at 9:13, Madhu Venugopal wrote:

[2015-09-03 18:07] erikh commented on #489
I’m going to see what I can do this weekend.

On 3 Sep 2015, at 9:22, Madhu Venugopal wrote:

[2015-09-03 18:09] mavenugo commented on #489
@erikh :+1:

[2015-09-03 18:14] mavenugo commented on #489
@erikh you mean to configure the ipam driver ? That is entirely upto the plugin to depend and make use of any configuration file.

[2015-09-03 18:16] erikh commented on #489
No I mean something local to docker that would let us specify default
drivers. I’ll hit you up on irc later with my idea.

On 3 Sep 2015, at 11:14, Madhu Venugopal wrote:

[2015-09-03 18:17] thockin commented on #489
@mavenugo

Whoever configured the docker drivers needs to ensure they work together.
There's no practical way to guarantee that every combination is reasonable,
but not allowing combinations at all is not the answer

On Thu, Sep 3, 2015 at 9:48 AM, Madhu Venugopal <notifications@github.com>
wrote:

[2015-09-03 19:14] mavenugo commented on #489
@thockin

that's fair and reasonable I guess. we have to document it clearly.

[2015-09-03 19:15] mavenugo commented on #489
@erikh sure. lets chat in IRC.

[2015-09-03 20:03] tomdee commented on #489
On the open items

+1 to removing the multiple interfaces per endpoint. I don't understand why this was there in the first place.

This needs to be per-network. This way, different drivers with different IPAM requirements can coexist.

[2015-09-03 20:07] mavenugo commented on #489
@tomdee thanks for the precise answer to the open items. It helps.
WDYT of the rest of the proposal in general ?

[2015-09-03 20:46] rhim opened #492 "libnetwork overlay driver - plan for supported systems"
Hi Folks,

I see that libnetwork 0.5 is slated to go in docker 1.9. Overlay driver has dependency on kernel 3.16. Is it fair to say then if libnetwork 0.5 includes overlay networking, then docker 1.9 will require kernel 3.16 or newer (and hence will only support systems, like Ubuntu 15.04 that have that kernel).

Thanks,
Himanshu

[2015-09-03 20:58] mavenugo commented on #492
@rhim fair question. But, from what we understand Ubuntu 14.04.3 LTS supports 3.19 kernel by default (https://wiki.ubuntu.com/TrustyTahr/ReleaseNotes#Updated_Packages).

Given the fact that latest 14.04 LTS has the updated kernel, you could just upgrade to 14.04.3 with the supported 3.19 kernel. Will that satisfy your needs ?

[2015-09-03 21:03] mrjana commented on #492
@rhim But please note that this does not mean that docker 1.9 will not be supported in kernels < 3.16. It just means that if you need to use overlay driver you need to use a kernel version >=3.16. This is very similar to storage layer drivers like `overlay` (coincidentally with the same name) are supported only from kernel version >= 3.18

[2015-09-03 21:08] rhim commented on #492
Thanks folks. @mrjana - that makes sense.
@mavenugo : yes it should. I will give it a spin and see how it goes.

[2015-09-03 21:17] tomdee commented on #489
Unfortunately I don't think the proposal is workable. It's the introduction of subnets that is the problem. The proposal is baking in the idea that a CNM network is an L2 broadcast domain, which doesn't make any sense for L3 networking like Calico.

As an aside, I would also like the proposal to include sending some metadata (such as the hostname) to the IPAM plugin to allow it to implement differ

[2015-09-03 21:22] shykes commented on #489
On Thu, Sep 3, 2015 at 2:17 PM, Tom Denham <notifications@github.com> wrote:

You're right that we shouldn't bake in that assumption. But, a CNM network
*does* require full IP connectivity between all endpoints. So you could
imagine passing to the driver constraints such as "for this network, please
only allocate addresses from the following ranges" - not ranges plural.

[2015-09-03 21:27] mavenugo commented on #489
@tomdee

Yes, we should not bake-in any such assumption and I don't think we have. User could make use of any number of subnets for a network. There is no restriction that I am aware of for a single subnet for a network.

Yes. we need some well defined labels to be passed to the drivers. But metadata like hostname is something that the driver can get by itself without the need for assistance from

[2015-09-03 21:36] thockin commented on #486
Sorry, that came of snippier than I meant it.

My primary key is the network name.  That's the key my API knows (or will know).  That key exists before I ever call "docker network create".

I don't want docker to try to manage my driver globally because I already have a global control plane.  So I have to use a local driver.

Because I have a local driver, every node is going to "docker network cr

[2015-09-03 21:44] tomdee commented on #489
@shykes Sorry I don't follow what you're saying about driver constraints?

@mavenugo But why a subnet (an L2 concept) - why not just an IP range? And why is a gateway part of this? Will the driver still be able to provide a gateway of its choosing?

@aboch Would you be able to update the proposal to include the changes it will require to the driver API?

[2015-09-03 21:47] tomdee commented on #489
@mavenugo

Labels sounds like a good idea, @aboch can that become part of your proposal above?

I still think that hostnames should be one of those labels. Where are the IPAM plugins deployed? I thought that they would use the existing plugin mechanism which means that they might not be on the same host as the docker daemon. Therefore, how can it get the hostname of the remote docker daemons that

[2015-09-03 21:53] mavenugo commented on #489
@tomdee plugins are by definition co-located on the same host as the docker daemon. please read https://github.com/docker/docker/blob/master/docs/extend/plugin_api.md#what-plugins-are. Its generally a bad idea to make the plugin external to the host (considering all the security checklists).

[2015-09-03 21:55] tomdee commented on #489
@mavenugo OK, that's pretty clear in the docs :-)

[2015-09-03 22:24] aboch commented on #489
@tomdee Thanks for the feedback. Updated the proposal.

[2015-09-03 22:44] tomdee commented on #489
@aboch Thanks for the updates.

@aboch / @mavenugo Can you confirm how the existing driver API will change?

e.g. When responding to a join() request, can a driver still provide a gateway and static routes?

Why does createNetwork get passed the subnet and gateway? These are L2 network concepts, so why do they need to be provided when creating a network?

[2015-09-03 23:10] mavenugo commented on #489
@tomdee am confused on your definition of L2 concepts. the IPAM driver API defined at a subnet level doesnt mean that a network must be restricted to a subnet. A range of IP-Addresses as per your request is much more restrictive than providing a list of subnets that the user like to manage as part of a network.

How is List of subnets and default-gateway for each of the subnet & connectivity betwe

[2015-09-04 03:46] lxpollitt commented on #489
@tomdee may be able to clarify his point re L2. But isn't he right that a subnet by definition has L2 implications. IP addresses within the subnet can be reached directly without going via a gateway.  The last address in the subnet means broadcast. Is it expected that the default gateway only be used when trying to reach an IP outside of the subnet? Is there an expectation that the broadcast IP ad

[2015-09-04 03:50] lxpollitt commented on #489
Is there a plan for scale up and down of networks? Given most at scale compute is elastic these then the ability to add/remove subnets (or CIDRs) to a preexisting network feels fairly critical.

[2015-09-04 04:30] jainvipin commented on #489
@mavenugo - please do not strike off the support for multiple interfaces, I am listing my use cases below. Others please speak up if you agree/disagree.

The use case for multiple interfaces per container for me was to allow the following:
- A container to have a leg in the private network (which has a set of policies) and a leg into public network (which has another set of policies e.g. security

[2015-09-04 04:30] mavenugo commented on #489
@lxpolitt @tomdee am still not clear on your suggestion :) Based on your comment, I feel there is a conflation of ip-address management and forwarding concepts. AFAIK IPAM API as defined is not suggesting anything about forwarding concept and it is purely a way to give out ip-addresses based on administrative policy.
If I have to guess your point, are you suggesting that if IPAM dishes out (ipv4)

[2015-09-04 04:33] jainvipin commented on #489
@mavenugo - yes will submit PR(s)

[2015-09-04 04:34] mrjana commented on #489
@jainvipin We are not trying to strike off a container joining multiple networks through multiple endpoints and that should satisfy your use case. This will result in multiple interfaces inside the container. Do you need multiple interfaces per endpoint?

[2015-09-04 04:35] mavenugo commented on #489
@jainvipin Maybe you misunderstood the multiple interface question. We absolutely need to support container having multiple Endpoints connected to multiple networks exactly as you defined.

The question about multiple interface is for a given endpoint (https://github.com/docker/libnetwork/blob/master/driverapi/driverapi.go#L52). Do you see a need to have multiple interface for 1 endpoint ?

[2015-09-04 04:48] lxpollitt commented on #489
I think perhaps the confusion is around the user of the word "subnet".

Here is what I think many people would say:

A subnet is not the same concept as a CIDR, even though there are written identically. A CIDR is just a block addresses. A subnet is a block of addresses (often specified using a CIDR) that have L2 connectivity between each other. To reach other IP addresses in your subnet then you

[2015-09-04 04:51] lxpollitt commented on #489
Forgive auto correct:
user=use
weird=word
:)

On Sep 3, 2015, at 9:48 PM, Alex Pollitt <Alex.Pollitt@metaswitch.com<mailto:Alex.Pollitt@metaswitch.com>> wrote:

I think perhaps the confusion is around the user of the word "subnet".

Here is what I think many people would say:

A subnet is not the same concept as a CIDR, even though there are written identically. A CIDR is just a block addresses. A

[2015-09-04 04:55] mavenugo commented on #489
@lxpollitt I do understand the what you mean in the context of forwarding (network driver). But in the context of IPAM driver API, I cant see how it is applicable.

Regardless of the wording, it is very important to understand if the use-case that I explained wrt to Calico is appropriate (i.e), is it reasonable to assume that the reason for your concern is the /32 address ranges being used by Cali

[2015-09-04 12:27] erikh commented on #489
@jainvipin fwiw, I found this: https://github.com/krolaw/dhcp4 maybe we
can pair on it?

On 3 Sep 2015, at 21:33, Vipin Jain wrote:

[2015-09-04 16:20] dcbw commented on #486
The current side-band hack to retrieve network name is made worse by the fact that the docker+libnetwork remote driver API is synchronous, so the driver cannot query docker during a driver operation or docker will deadlock. Instead the remote driver must cache the UUID and then somehow right after the CreateNetwork() hook request the network name from the docker API. That's obviously racy since th

[2015-09-04 17:03] tomdee commented on #489
@mavenugo Thanks for your comment (https://github.com/docker/libnetwork/issues/489#issuecomment-137647440), I think we're starting to understand each other. I wrote a comment earlier saying pretty much the same thing but it didn't submit properly on github :-(

This is what I meant to say - which I think is paraphrasing your comment above to some extent:

So, my concerns are
* This proposal remove

[2015-09-04 17:07] aboch commented on #489
@tomdee

Please note libnetwork will not block multiple network use the same address pool

[2015-09-04 17:08] mavenugo commented on #489
@tomdee thanks for making it clear. And yes, its not a bad guess from my side :-)
I will digest this a bit more and see how we can get this working for all of us.
(BTW, if we go with per-network ipam-driver, then you have the ability to write IPAM driver that suits Calico network driver and can recommend the users to always use calico IPAM plugin with Network plugin).

[2015-09-04 17:59] mavenugo commented on #486
@thockin @dcbw @squaremo I think we went way off tangent to the intent of the PR.

@thockin do you still see a need for this issue to be resolved ?
@squaremo Can you please share your thoughts on the remote api implementation for the PR request ?

[2015-09-04 18:04] alvinr opened #495 "Cannot start a new container after commit 288275ab60c049fa644f1ce5d36c0c005e8dd02c"
# Problem

Starting a new container I get the following reported from the CLI

[code]

Logs show the following
[code]

# Reproduce
Docker started with the following
[code]

Cause a container to get created, e.g.
[code]

# Environment

[code]

[code]

[code]

[2015-09-04 18:05] alvinr commented on #495
Code in question is here

https://github.com/docker/libnetwork/pull/317/files#diff-b07025db4dca8b3bd55a7c27cf0c5d05R277

[2015-09-04 18:18] thockin commented on #486
Yes!  without the ability to have local-scope drivers, I can't use them at all, I think.  But once we have local drivers, I need the name.

[2015-09-04 18:54] lxpollitt commented on #486
The key from my point of view is that (almost all) existing SDN solutions have their own control plane.  So @thockin's comments around control plane, state and KV stores are not Kubernetes specific.  If introducing the idea of a "local" remote driver (yeah, we'll need to think of a better name) can solve that while maintaining a consistent UX for Docker users then that is a huge win for everyone.

[2015-09-04 19:07] squaremo commented on #486
If one is very literal about the description, maybe. I think the intention was to make it possible to use libnetwork in a distributed setting _without_ involving all of its kv-store machinery, and from that point of view, the whole discussion was pertinent.

I don't mind doing that (at some point), but I think it is necessary to go further and address the other things that came up in discussion.

[2015-09-04 19:22] lxpollitt commented on #489
@mavenugo

I'm asking these questions in the context of trying to get a clear understanding of the proposed concepts and API.  They aren't intended to be Calico specific, since I think many network and IPAM implementors will want to understand these concepts clearly.  @tomdee is asking some more Calico specific questions.

At a minimum it's applicable because if it's a subnet then the all zeros an

[2015-09-04 19:46] tomdee commented on #485
I've found the exact docker revision that caused this regression - https://github.com/docker/docker/commit/7948b755c77a3901ffb5b397659c72ae4e6f4340

[2015-09-04 19:48] tomdee commented on #485
@mrjana you did the netlink merge, would you be able to take a look at this issue?
@mavenugo Should I raise this issue on docker/docker or is it best tracked here?

[2015-09-04 19:52] mavenugo commented on #486
@squaremo agreed & the reason this issue came about was to support exactly that requirement. We need a PR to back that. We can continue to discuss on the other discussions absolutely, without delaying getting this issue resolved.

[2015-09-04 20:52] Crazee commented on #488
That would help, as long as you could delay the grouping of the hosts together (via consul join) til later.  Until I can connect the hosts together with a container that creates a private VPN mesh.

[2015-09-04 21:20] mavenugo commented on #313
@shettyg I think we should do that. Would you mind pushing a PR to get this done ?
We can review it fast and get it merged.

[2015-09-04 21:43] tomdee commented on #406
Does it need to be added to the endpointOperInfo? The response to the createEndpoint request already includes the MAC address.

[2015-09-04 23:03] dcbw commented on #486
That would be a more perfect world I suppose, but how about a 1st step, simpler approach of (a) building libnetwork with the simple builtin local KV store (eg https://github.com/docker/libnetwork/pull/466 ) to ensure docker restart keeps networks around, (b) having the control plane/Kubernetes add/remove networks from via the docker API when it wants to, and (c) telling users who do 'docker networ

[2015-09-05 00:07] tomdee commented on #313
@shettyg Do you need to have the createEndpoint/CreateEndpoint sent to all the hosts at all? From a calico perspective, I'd prefer to have just a single create call, but I could see that I might be useful to send them to all hosts with a notify flag set as a configurable option.

[2015-09-05 00:20] thockin commented on #486
I'm a big fan of incrementalism, these days

[2015-09-05 04:56] mavenugo commented on #486
@dcbw sounds good & this issue is one of the first steps. Would be great if someone can back it with a PR.

Can you please elaborate on this

[2015-09-05 05:04] mavenugo commented on #489
@tomdee @lxpollitt thanks for stopping by today & the good conversation. As discussed,

1. We can rename subnet to address-range if that makes it clear.
2. Change `RequestAddress` return to `IPNet` & that gives the IPAM plugin a choice to return a mask that is different from the mask sent via the address-range. Which I think is reasonable not just for the Calico, but also for normal case, when we

[2015-09-05 12:38] squaremo commented on #486
Doesn't that run into either the "network only exists locally" problem or the "libnetwork thinks each host has a different network problem?

[2015-09-05 15:31] mavenugo commented on #486
@squaremo

For a Locally managed networks, its upto the orchestration entity to create network on the "required" hosts and the corresponding driver (which wants to be a locally scoped) to manage the forwarding. Example of such drivers are Mac/IPVlan drivers and the orchestration manages individual host network with appropriate configurations (subnet range to use, etc.)

[2015-09-05 17:52] dcbw commented on #486
I can work on this next week if this sounds like a good first step to @thockin while we hash out the more complete solution of having libnetwork ask the drivers for the network list.  I'm only back on Wed though so maybe somebody will get it before me.

There was a concern expressed in the k8s networking google group that if the orchestration layer was responsible for managing the networks, that i

[2015-09-05 17:57] #495 closed

[2015-09-05 18:03] mrjana commented on #486
@dcbw Ultimately the driver gets a chance to say yes or no on network creations and deletions. So in kubernetes case you can implement something like an auth token and pass it as a label to the driver and disallow any network creation or deletion happening out of band which will not have the auth token. I am not suggesting this as a security solution but to block unintentional out of band configur

[2015-09-05 20:08] squaremo commented on #486
I'm not sure what you're agreeing with there. I meant that fixing the problem described in the title will *not* meet the requirement. It might not even be a move in the right direction. It seems to me that the division of the model into "GlobalScope", which _forces_ co-ordination, and "LocalScope", which _prevents_ co-ordination, needs reevaluation.

[2015-09-05 20:09] lxpollitt commented on #486
@dcbw

I discussed this longer term desire with @mavenugo on Friday.  He is passionately against libnetwork querying the driver for networks (or other state) due to fundamental architecture beliefs and philosophy that I think is unlikely to shift. So while this proposed PR could be useful for some people, I wouldn't think of it as a step towards libnetwork deferring state ownership to drivers.

@m

[2015-09-05 20:15] thockin commented on #486
Network creation/manipulation should be akin to containers.  Kubernetes
users CAN go around kubernetes and touch them directly, but if they break
it, they get to keep both halves.

As for good first steps, we're very much figuring out which end is up and
what we would have to do vs want to do to defer network management to
docker.  I think we're stuck without this fix, but I am not sure it is
suff

[2015-09-05 20:23] thockin commented on #486
On Sat, Sep 5, 2015 at 1:10 PM, Alex Pollitt <notifications@github.com> wrote:

I agree that it's pretty hack-tacular for things that require some
global coordination but DON'T want libkv.  It might be passable for
truly local-scoped drivers (ipvlan etc).  It's no better or worse that
what we do today with the assumed bridge driver.

[2015-09-06 06:37] mavenugo commented on #492
Thanks @rhim closing the issue

[2015-09-06 06:37] #492 closed

[2015-09-06 07:04] mavenugo commented on #486
@thockin @lxpollitt I really dont understand what you mean by a `kludge` and a `hack`. If you tend to mean that libnetwork must make use of driver states to build its own view of the network, then I would say, yes I agree, that is as hack-tacular as it gets. So, I would request folks to give some context behind any such disparaging comments.

The definition of `local-scope` and `global-scope` are

[2015-09-06 11:05] squaremo commented on #486
Just to check, @thockin: is deferring the network management to docker an inescapable requirement?

[2015-09-06 16:00] mrjana commented on #486
@squaremo Forgetting for a moment all the k8s context that is driving this requirement why does this scoping model need reevaluation? We already do this to in-tree drivers i.e `bridge` is local scoped while `overlay` is global scoped. There is a bug in the code where in remote drivers don't get to have a say in which scope they belong while in-tree drivers get to and that is wrong. We are merely t

[2015-09-06 18:11] squaremo commented on #486
Perhaps it would be better to change the title and description of this issue, so that they reflect the requirements that motivated it, and the discussion here. Otherwise those will just have to be reiterated.

[2015-09-06 18:38] lxpollitt commented on #486
@mavenugo

Yes, agreed, they are clear and simple, and are not in any way kludges or hacks.

I mean that the code we are considering writing outside of libnetwork (in k8s and the drivers) if we (the k8s and driver developer community) decide we want to tell libnetwork a driver is local-scoped but actually have the driver map to globally scoped networks in the underlying SDN solution.

Apologies if

[2015-09-06 18:52] lxpollitt commented on #489
@mavenugo Yes, always good to chat to you, catch up on your latest thinking, and work through some technical questions.

I think your 3 items fit with what we discussed, but would ideally like @tomdee to confirm since he's a lot closer to the technical detail than met.  However, @tomdee is on vacation for the next week, so I suggest proceeding without waiting for his confirm.

[2015-09-06 20:44] shettyg commented on #313
@tomdee
I do not need the createEndpoint/CreateEndpoint sent to all the hosts at all. But I think the native overlay driver needs it. I am thinking about adding a options:notify=true flag for the time being.

[2015-09-07 03:15] thockin commented on #486
@mavenugo,

Please don't take my remarks as an attack - we're pushing past the bounds
of what libnetwork was designed to handle, so any solutions today are
almost certainly going to be flawed.

The kludge I refer to is that we have a driver that is really a global
driver - it has a cross-node control plane and visibility - but we can not
represent it as a global driver in libnetwork because libnet

[2015-09-07 03:18] thockin commented on #486
@squaremo

No, there is a working prototype of kubernetes ditching libnetwork entirely and working around docker's networking.  I don't hate it - it has the advantage of deep simplicity, but the disadvantage of being different from docker.  In order to make a "defer to docker" mode work, we're working through the issues (such as this one :)

[2015-09-07 03:42] WeiZhang555 commented on #489
I'm trying to catch up with your discussion, so you are planning to develop a plugin mechanism for IPAM? If so I think it's a good idea because IPAM in Libnetwork is not flexible enough :(

We are working on a private network plugin now and have to develop our own IPAM as IPAM in libnetwork is not strong enough and can't satisfy all our need.

I'm +1 on DHCP agent support, this can make it more ea

[2015-09-07 10:16] erikh commented on #489
So, I'm working on a DHCP service and also a client. The goal is to support IPAM from either direction -- either a "classic" DHCP server that is configured to serve addresses, and IPAM requests from that, or a "classic" dhcp client running in the container that uses a customized server to request from.

Obviously I won't fully succeed this weekend, but if I get some things working with `curl` I'll

[2015-09-07 11:59] FlorianOtel commented on #486
Belated and (most likely) obtuse, so apologies in advance for both.

After per-using this thread I'm at a loss on what "global" vs "local" means and for which actions.

"Global" context for me is the docker daemon to which the plugin registers (ergo libnetwork). Which -- at for the platforms that we're working on to integrate, incl. k8s / OpenShift -- is one host.

OTOH k8s  -- and the network plu

[2015-09-07 17:34] lxpollitt commented on #313
@shettyg - I think in a conversation I had with @mavenugo recently, he said that the overlay driver didn't actually need the request to be sent to all hosts.

[2015-09-07 17:36] mrjana commented on #486
@thockin I think this notion that libnetwork is demanding drivers to depend on libkv is not correct. libkv is an internal modular storage system used to store libnetwork/docker's internal state. There is nothing that libnetwork is attempting to force drivers to depend on it. So claiming that libnetwork/docker wants to be the single source of truth is not accurate.

Now docker/libnetwork does provi

[2015-09-07 17:40] lxpollitt commented on #486
(@mrjana, not sure the formatting of your last post came out as you expected?  The split between the "two options" you mention isn't clear...)

[2015-09-07 17:45] mrjana commented on #486
@lxpollitt Fixed it

[2015-09-07 18:21] mrjana commented on #486
@FlorianOtel I am not sure why you would prescribe what docker should or shouldn't do. I am not sure if you represent one of the control plane vendors who would move to other "sane" alternatives just because docker provides it's own control plane. If you are, you are welcome to do so. Thanks for your interest in docker.

[2015-09-07 19:40] shettyg commented on #313
@lxpollitt
Oh, I did not realize that.

@mavenugo
What would be your preferred solution? A new notify argument for the 4 APIs? Or something else?

[2015-09-07 19:48] shettyg commented on #486
If labels support gets merged, I think it solves many problems.

[2015-09-07 20:21] FlorianOtel commented on #486
@shettyg

They certainly are needed & they will provide mechanisms for the plugin to work around this but I fail to see how that counts as "solves".

[2015-09-07 20:23] FlorianOtel commented on #486
@shettyg

+1

[2015-09-08 02:54] mavenugo commented on #489
We updated the API with `options` (aka labels) to address such cases. We can define Well-Known labels with ipam namespace for some very common parameters (such as mac-address of the container if supplied by the user). We can infact add more well-known labels that are very common. These labels are useful as ipam-driver specific options too.

this is something that we need to discuss and update as w

[2015-09-08 03:01] mavenugo commented on #489
@WeiZhang555 Thanks for your feedback.

Yes.

@erikh & @jainvipin are also interested in DHCP support. You can pair up with them and help develop DHCP plugin and we can make it an in-built libnetwork driver that can be used by many.

Actually, we couldn't clearly identify a valid use-case for this and hence we are proposing to remove it and it seems its universally agreed upon. So yes, we can remo

[2015-09-08 04:39] erikh commented on #489
On 7 Sep 2015, at 19:54, Madhu Venugopal wrote:

Works for me! I missed the options as a way to offer this.

ok.

-Erik

[2015-09-08 04:55] thockin commented on #486
@FlorianOtel I think you just summarized my (and others) points well.

[2015-09-08 05:05] thockin commented on #486
@mrjana

Can I declare my driver as a GlobalScope driver and *not* have libnetwork try to do stuff with it?  I want to manage my own global state, but I don't see how I can do that - is there an off-switch that I am missing?

This seems in direct conflict with what your previous statement.  I can not have my own control plane but I am not forced to use yours.  My choice becomes "your way or no way

[2015-09-08 05:24] mavenugo commented on #486
@thockin @FlorianOtel as @mrjana pointed out,

Your summary is incorrect.

So, I would request you to please go over the code and confirm if by using local-scope (which k8s and others seems to be using already) how are the plugins forced into using the libkv ?

Also, I would recommend folks to review #8951 where the discussion for native multi-host networking functionality in docker. If someone fe

[2015-09-08 05:40] thockin commented on #486
@mavenugo

I was hoping that we could find something more elegant than declaring any driver with it's own control plane as "local" because of the connotations.  But I guess the point you're making is "Global drivers use libkv.  Local drivers do not.  If you don't want libkv, make your driver Local."  Is that a more accurate summary?

Assuming this bug is fixed, that seems like a workable position.

[2015-09-08 05:41] mavenugo commented on #486
@thockin the problem with the discussion is that, some of the claims that are made here isnt actually trying to improve libnetwork to a better place that can help the end-users. Rather, they are short-term views that helps just a handful of drivers.

Case in point :

This fundamentally challenges #8951

direct impact on the user experience that libnetwork guarantees to the user.

[2015-09-08 05:43] mrjana commented on #486
GlobalScope by definition means libnetwork needs to have a cluster-wide consistent view of the objects backed by those drivers. Isn't it? Why else would we have the term GlocalScope if libnetwork should not do "stuff" with it? If some other entity is always going to be the control plane why would we even bother designing and implementing libnetwork? Basically you are suggesting docker/libnetwork s

[2015-09-08 05:44] mavenugo commented on #486
@thockin yes and that is the reason we have to make progress step by step. To me, having this issue resolved and providing the labels support gets us 90% (or even 100%) of all the requirements that we were discussing here.

[2015-09-08 05:47] thockin commented on #486
hmm, I'm not sure I see that.  If installing a FooBar driver suddenly made all of the FooBar networks appear in 'docker network ls', I would actually be pretty impressed - that would be a great user experience.

[2015-09-08 05:49] mavenugo commented on #486
@thockin

What if the foobar driver decides to consume user-created `foobaz` in some of the nodes, because it feels like it :)

[2015-09-08 05:50] FlorianOtel commented on #486
@mavenugo

Point taken. In the spirt of that disclaimer, I work for Nuage Networks and we do have a multi-host SDN solution (which predates Docker).

Back to your point, is not that I think Docker shouldn't have a multi-host solution -- on the contrary.  Yes, I'm aware that my (current) vendor affiliation does make me look biased, but -- hard as it may be to believe -- I do firmly believe that syn

[2015-09-08 05:53] thockin commented on #486
@mrjana

Then "Scope" is a complete misnomer.  Had it originally been called `useLibKV bool` it would not have been a debate.  And no, I dpn't think ANYONE suggested libnetwork (or properly docker) should not have a control plane, just that it should not insiste on being the ONLY control plane.  And before you say it doesn't have to be, please keep in mind that this issue was JUST filed, and the d

[2015-09-08 05:53] mavenugo commented on #486
@FlorianOtel

We go back a long way. I need no disclaimer from you ;)

[2015-09-08 05:55] thockin commented on #486
The user installed the foobar driver.  You ought not go too far in protecting a user from themselves - it only makes you insane.

[2015-09-08 06:00] mavenugo commented on #486
@thockin and that is the exact reason we are trying to keep management plane separated from data-plane. That is the premise of most of the SDN solutions out there. We expect the driver to provide the `data-plane` guarantees which makes sure the plumbing is done in the best possible way with their own awesome sauce. Management plane should not be mixed with this & that is one of the fundamental poi

[2015-09-08 06:01] mrjana commented on #486
Well, libnetwork is not that old :-) and is still a maturing project. I will be the first to say that we still have a few loose ends like this to tie up. It was certainly not our intention to keep remote plugins as GlobalScope only

[2015-09-08 06:03] mavenugo commented on #486
... and ... we are still in experimental mode ;). So technically, this is a bug that is found during the experimental phase.

[2015-09-08 06:17] mavenugo commented on #313
@shettyg that's correct. the reason we broadcasted these calls to all the drivers is purely for the benefit of the unknown plugins :) ... There can be someone out there who is not participating in any of the discussions but still want these calls to be made. `overlay` driver doesn't depend on this.
We can as well remove the broadcast call in the remote hosts if that is the preferred by all.

@mrja

[2015-09-08 06:19] mrjana commented on #313
@mavenugo Yes I agree that it is better to remove these notifications. If there is a general need for this in the future we can certainly add them at that point. But keeping them now will make it very difficult to remove it in the future even if we want to.

[2015-09-08 06:26] mavenugo commented on #313
Thanks @mrjana

@shettyg can you please push a PR ?

[2015-09-08 06:26] FlorianOtel commented on #486
@thockin

+1

[2015-09-08 07:01] squaremo commented on #486
Where is the place to make them work, @mrjana?

[2015-09-08 13:26] erikh commented on #489
FWIW, the DHCP code is here: https://github.com/erikh/dhcpd

There's a client now, which works by manipulating the interface directly in the container. So, you can launch a dhcpd, launch a container, then launch the client outside of the container to configure the address.

This is really bad code, but it demonstrates the basics, and hopefully is a platform for further discussion.

[2015-09-08 15:14] shettyg commented on #313
@mavenugo
I will work on the PR (It has been a while that I looked at libnetwork's code, so I may ask for some help over IRC if don't understand something).

[2015-09-08 15:36] mavenugo commented on #313
@shettyg :+1:

[2015-09-08 16:02] mrjana commented on #486
@squaremo As I've mentioned in my other posts, the place to make them work is north of docker/libnetwork api, very similar to what k8s is trying to do. Driver api is definitely not the place to expect a gateway to interface into control plane. Control plane doesn't even belong in that layer. Once you have control plane integrated on top of docker api you can have the driver portion of your solutio

[2015-09-08 16:52] erikh commented on #486
Most of the problems @thockin & co have been discussing are real problems I have been working around too. The network name, in particular, should be propagated to plugins. I have experimented with a plugin-per-network, plugin-per-tenant-per-network, plugin-that-calls-back-into-docker, etc. None of these solutions are good, even if they all do technically work. Labels and options get us some of the

[2015-09-08 19:48] mbanikazemi commented on #406
@tomdee No, but the question is essentially what keys are to be used (for both receiving parameters by the plugin or returning information back to docker/libnetwork) and how to make sure these are well defined so plugins can be developed more easily.

@mavenugo @dave-tucker @aboch  I have looked into how best to specify the keys that network plugins can expect to get in the incoming requests and w

[2015-09-08 23:18] lxpollitt commented on #485
@mrjana @mavenugo ^^

[2015-09-09 00:11] mavenugo commented on #485
@lxpollitt @tomdee thanks for narrowing down the issue seen in vishvananda/netlink project. Can you please debug it in the netlink library and fix it ? We can vendor the netlink package once it is resolved.

[2015-09-09 07:15] WeiZhang555 opened #506 "`docker service ls` can't list container which is created by another machine"
I'm using a private network plugin, I found that the "docker service ls" can't list containers which are created by another machine.
for example:
on machine A, using `docker run -itd --publish-service web.PluginNet ubuntu bash`  to start a container and register a service, then `docker serivce ls` will show that the service `web` has been bound to the container.
On another machine running docker d

[2015-09-09 09:29] bboreham commented on #486
@mrjana while it is natural for an orchestrator like Kubernetes to live north of docker, I struggle to see how a pure network implementation could have its control plane do anything north of the api.  Can you expand a bit more how that would work?

Disclaimer: I work on weave Net.

[2015-09-09 11:20] rade commented on #486
@mrjana

AFAICT everybody who is trying to integrate their networking tech with Docker really wants the former, i.e. integrate both their data plane and control plane. AND they want to do so in a way that fits in with the concepts and UI Docker provides for networking, rather than opting out of that completely.

[2015-09-09 14:26] aboch commented on #506
@WeiZhang555 We are aware of this. Discussed with @mrjana and we are not planning to make changes, because sandbox is a local scope entity. At most we are thinking of a UI/presentation change where something like "remotely connected" can be shown under the container id column.

But we are holding on this because as @mavenugo mentioned somewhere else there are going to be UI changes coming in.

[2015-09-09 14:59] WeiZhang555 commented on #506
@aboch That's fair.
But currently it's so inconvenient

[2015-09-09 15:06] aboch commented on #506
@WeiZhang555 Understand. WDYT about changing the client code to show something on the line of "remotely connected" for the `service ls` command ?

[2015-09-09 15:11] WeiZhang555 commented on #506
@aboch That's fair.
But currently it's so inconvenient, you see that If I connect one container to some service on one machine, then I can see the service with `docker service ls` on another machine, it tells me the service has not connected to any container but it fails when I try to connect another container to this service, this makes user confused easily.
And if we publishes a lot of global se

[2015-09-09 15:13] aboch commented on #506
@WeiZhang555 Yes, please push a PR for the `service ls` output fix. Thanks !

[2015-09-09 15:15] WeiZhang555 commented on #506
OK, I'll handle that. :)

[2015-09-09 15:32] mrjana commented on #486
@bboreham When I mentioned "control plane" I was referring mostly to the management side of the control plane i.e a control plane which has it's own UI/API and has different constructs and abstractions than Dockers Networks/Endpoints etc. For such a control plane, they most certainly need to sit on top of docker and treat docker as a low level ingredient.

For control planes who want to use Docker

[2015-09-09 15:36] mrjana commented on #486
@rade Please see my previous response

[2015-09-09 15:59] lxpollitt commented on #485
@mavenugo: @tomdee is on vacation, and he would be the best candidate in my team to look further into this.  However, I don't think he (or anyone on my team) are best placed to resolve this regression.  We have zero expertise on the `vishvananda/netlink` project, little knowledge of how libnetwork uses it, and no knowledge of what the "to fix certain wierd netlink issues seen" were that triggered